

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>GLC 250 d 4MATIC</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 2.1 litros, 4 cilindros turbo intercooler</span>
              </li>
              <li>
                <span>Potencia: 204 CV</span>
              </li>
              <li>
                <span>Torque: 500 Nm @ 1.600 – 1.800 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 7,6 seg de 0-100 Km/h.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 222 Km/h</span>
              </li>
              <li>
                <span>Consumo mixto: 18 Km/Lt (valor referencial)</span>
              </li>
              <li>
                <span>Transmisión: Automática de 9 Velocidades, 9G-TRONIC y Tracción Integral 4MATIC</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=50&version=14060">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146468/Ficha-GLC-250-d-4Matic.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  Diseño exterior vanguardista y moderno, con un equipo de escape de doble flujo con embellecedores de acero inoxidable y barras longitudinales de aluminio en el techo.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=50&version=14060">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2 class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img src="/documents/55562/67964/1.jpg" alt="First slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/2.jpg" alt="Second slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/3.jpg" alt="Third slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/4.jpg" alt="Third slide">
					  </div>
					</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  Habitáculo moderno, funcional y deportivo, gran versatilidad de asientos, molduras de madera en acabado rústico de poros abiertos.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=50&version=14060">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h1>Equipamiento</h1>
				<h3>Seguridad:</h3>
				
					<li>Airbags frontales y laterales de tórax y cadera para el puesto del conductor y acompañante.</li>
					<li>Airbag de rodilla para el conductor.</li>
					<li>Airbags de cortina en todas las ventanillas.</li>
					<li>Frenos ABS con freno de emergencia BAS y control de tracción ASR</li>
					<li>COLLISION PREVENTION ASSIST PLUS advierte de forma visual y acústica ante un riesgo de colisión por alcance, y asiste en la frenada.</li>
					<li>Retrovisores exteriores calefactados, con ajuste eléctrico y pintados.</li>
					<li>Freno de estacionamiento con accionamiento eléctrico y liberación aut.</li>
					<li>Luz de freno adaptativa parpadeante de emergencia.</li>
					<li>Extintor montado bajo el asiento del conductor.</li>
					<li>Indicador del desgaste de las pastillas de freno.</li>
					<li>Indicador de pérdida de presión en los neumáticos.</li>
					<li>Indicador inteligente de mantenimiento ASSYST PLUS.</li>
					<li>Cristales calorífugos para reducir la irradiación térmica en el habitáculo.</li>
					<li>Sistema de alerta por cansancio “ATTENTION ASSIST”.</li>
					<li>Alzavidrios eléctricos en todas las ventanillas con función antiapriete.</li>
					<li>Función de parada y arranque de motor “ECO Star/Stop”.</li>
					<li>Sistema de frenos ADAPTIVE BRAKE que incluye:
					<ul>
					<li>Ayuda de arranque en pendientes HSA.</li>
					<li>Función HOLD, puede mantiene el freno accionado sin necesidad del pie.</li>
					<li>BAS Plus, aumenta la presión y puede reducir la distancia de frenado.</li>
					<li>Frenos secos, permite mantener el sistema seco en condiciones de lluvia.</li>
					<li>Pre-llenado, apoya las pastillas de frenos sobre los discos al soltar el acelerador.</li>
					</ul>
					</li>
				
				<h3>Interior y exterior:</h3>

					<li>Tapizado en Símil Cuero / Tela Grenoble</li>
					<li>Función de parada y arranque ECO.</li>
					<li>Portavasos doble en la consola central.</li>
					<li>Audio 20 CD, con conectividad Bluetooth y Audio Streaming.</li>
					<li>Panel Táctil para sistema de audio y telefonía.</li>
					<li>Unidad de CD Individual con MP3/WMA.</li>
					<li>Paquete de retrovisores incluyendo:
					<ul>
					<li>Retrovisores exteriores con abatimiento eléctrico.</li>
					<li>Retrovisores interior y exterior izquierdo con función antideslumbrante.</li>
					<li>Iluminación de entorno exterior en retrovisores.</li>
					</ul>
					</li>
					<li>Techo corredizo panorámico.</li>
					<li>Asistente de estacionamiento automático con ayuda activa y Parktronic.</li>
					<li>Cámara marcha atrás con líneas de guiado dinámico.</li>
					<li>Limpiaparabrisas automático con sensor de lluvia.</li>
					<li>Control de velocidad TEMPOMAT con SPEEDTRONIC.</li>
					<li>Climatizador automático Bi-Zona THERMATIC.</li>
					<li>Avisador de pérdida de presión en los neumáticos.</li>
					<li>Molduras de madera de Fresno con poros abiertos.</li>
					<li>Alfombrillas de velours.</li>
					<li>Tablero de instrumentos y línea superior de puertas tapizadas en cuero.</li>
					<li>Transmisión automática 9G-TRONIC.</li>
					<li>Extintor montado bajo el asiento del conductor.</li>
					<li>Estor cubre equipajes sobre el maletero.</li>
					<li>Paquete de alumbrado interior.
					<ul>
					<li>Parasoles iluminados.</li>
					<li>Iluminación del espacio para los pies.</li>
					<li>Luces de lectura en las plazas traseras y delanteras.</li>
					</ul>
					</li>
					<li>Compartimiento adicional debajo del piso de la carga.</li>
					<li>Función de arranque sin llave KEYLESS GO.</li>
					<li>Cristales calorífugos tintados oscuros en plazas traseras</li>
					<li>Asientos calefactados para conductor y acompañante</li>
					<li>Pintura Metalizada.</li>
					<li>Línea de equipamiento exterior “Exclusive”.</li>
					<li>Llantas de aleación Aro 20″ y 5 radios dobles.</li>
					<li>Tren de rodaje AGILITY CONTROL con reglaje confortable.</li>
					<li>Luces LED Intelligent Light System.</li>
					<li>Luces de carretera automática PLUS</li>
					<li>Depósito de combustible con 66 litros de capacidad</li>
					<li>Neumáticos con propiedades de emergencia RUN FLAT</li>
					<li>Barras de techo en aluminio anodizado brillante.</li>
					<li>Embellecedores de escape de doble flujo en cromo brillante</li>

				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=50&version=14060">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

