

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>Mercedes-AMG GLC 63 S 4MATIC+</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 4.0 litros, V8 Biturbo</span>
              </li>
              <li>
                <span>Tracción: Integral permanente (4Matic)</span>
              </li>
              <li>
                <span>Torque: 700 Nm a 1.750 – 4.500 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 3,8 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 6,4* Km/L (valor referencial Ministerio de Energía)</span>
              </li>
              <li>
                <span>Transmisión Automática 9G-TRONIC SPEEDSHIFT MCT AMG</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=58&version=20288">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146558/Mercedes-AMG-GLC-63-s-4Matic.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
					Diseño exterior vanguardista, moderno con llantas de aleación de 20″ y
					<br>
					5 radios dobles, un equipo de escape de doble flujo con embellecedores
					<br>
					de acero inoxidable y barras longitudinales de aluminio en el techo.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=20288">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  Habitáculo moderno, funcional y deportivo, gran versatilidad de asientos,
				  <br>
				  molduras de fibra de carbono con acabado de aluminio claro
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=20288">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>
				<li>Pintura Metálica</li>
				<li>Cuero Napa Negro</li>
				<li>Techo corredizo panorámico</li>
				<li>9G-TRONIC SPEEDSHIFT MCT AMG (cambio automático de 9 velocidades)</li>
				<li>Tablero de instrumentos y línea de cintura en las puertas en símil de cuero Artico</li>
				<li>Sistema de sonido Surround Burmester</li>
				<li>Radio Comand<br>
				Panel táctil con controlador<br>
				Reproducción DVD, USB y SD Card<br>
				Interfaz Bluetooth con Smartphone / Conexión integrada para Ipod o Iphone
				</li>
				<li>PARKTRONIC (ayuda activa para estacionar que dirige automáticamente el vehículo accionando de forma autónoma el volante y los frenos)</li>
				<li>Piloto automático para aparcar con cámara de 360°</li>
				<li>AMG Interior<br>
				AMG DYNAMIC SELECT<br>
				Alfombrillas AMG<br>
				Volante AMG Performance en napa / microfibra DINAMICA<br>
				Molduras AMG de fibra de Carbono /aluminio claro con rectificado longitudinal<br>
				Paquete de alumbrado interior
				</li>
				<li>Línea Exterior AMG<br>
				DYNAMIC SELECT<br>
				Tren de rodaje deportivo AMG basado en AIR BODY CONTROL<br>
				Kit estético AMG<br>
				Perfil aerodinámico AMG
				</li>
				<li>Paquete retrovisores<br>
				Ret. Interior y exterior izquierdo con sistema antideslumbrante automático<br>
				Retrovisores exteriores abatibles eléctricamente<br>
				Retrovisores exteriores con iluminación del entorno
				</li>
				<li>KEYLESS GO – Confort Paquete<br>
				Hand Free Access<br>
				Keyless GO<br>
				Portón trasero Easy Pack
				</li>
				<li>Llantas de aleación AMG de 50,8 cm (20″) y 5 radios dobles</li>
				<li>LED Intelligent Light System (luces LED con adaptación automática)</li>
				<li>Luces de carretera automáticas Plus (evitan deslumbrar a otros conductores)</li>
				<li>Sistema de advertencia por perdida de presión en los neumáticos.</li>
				<li>Equipo de frenos de alto rendimiento AMG con discos de material compuesto</li>
				<li>Diferencial autoblocante AMG con regulación electrónica en el eje trasero</li>
				<li>THERMATIC (climatización automática con 2 zonas independientes)</li>
				<li>Asientos calefaccionados para conductor y acompañante</li>
				<li>Kit de memorias con apoyo lumbar con 4 vías de ajuste<br>
				Asiento acompañante de ajuste eléctrico con memoria<br>
				Asiento del conductor regulable eléctricamente con memoria
				</li>
				<li>Cristales calorífugos tintados oscuros e insonorizante</li>
				<li>Sistema de escape AMG Performance Conmutable</li>
				<li>Kit portaobjetos con portavasos dobles<br>
				Enchufe de 12V en maletero<br>
				Compartimiento debajo del piso de carga
				</li>
				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=20288">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

