

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>Mercedes-AMG C 63</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: V8 de 4.0 litros Biturbo</span>
              </li>
              <li>
                <span>Potencia: 476 CV</span>
              </li>
              <li>
                <span>Torque: 650 Nm a 1.750 – 4.500 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 4,1 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 10,1* Km/L (valor referencial Daimler)</span>
              </li>
              <li>
                <span>Transmisión Automática de 9 velocidades AMG SPEEDSHIFT TCT</span>
              </li>
			  <li>
                <span>Tracción trasera</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=58&version=14030">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146552/Mercedes-AMG-C-63-Facelift.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  El Mercedes-AMG C 63 se encuentra al mayor nivel de rendimiento visual y experimentable. Sus componentes de alta tecnología, que provienen en parte del automovilismo y que aportan una adaptación progresiva, llevan la potencia a la calle.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=14030">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  Con la reestilización, la Clase C incorpora la nueva generación de volante con 3 radios y botones de control táctil. El cuadro de instrumentos y el sistema multimedia pueden manejarse de manera más intuitiva todavía.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=14030">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>

					<li>
					Pintura Metálica
					</li>
					<li>
					Tapíz cuero Napa AMG – Negro
					</li>
					<li>
					Nuevo volante AMG Performance en Napa, con mandos tactiles para sistema multimedia y cuadro instrumentos
					</li>
					<li>
					Levas de cambios DIRECT SELECT
					</li>
					<li>
					Función de arranque Keyless-GO (permite encender el vehículo sin usar la llave)
					</li>
					<li>
					TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad)
					</li>
					<li>
					Kit de memorias (asientos delanteros, columna de dirección y los retrovisores)
					</li>
					<li>
					Asientos calefactados para conductor y acompañante
					</li>
					<li>
					Apoyo lumbar con 4 vías de ajuste
					</li>
					<li>
					Climatiazación THERMATIC (climatización automática con 2 zonas climáticas)
					</li>
					<li>
					Cuadro de instrumentos completamente digital
					</li>
					<li>
					Radio audio 20 con sistema Apple Carplay y Android Auto integrado<br>
					Visualizador de medios de 10,25″ de alta definición<br>
					Interfaz Bluetooth con Smartphone / Conexión integrada para Ipod o Iphone<br>
					Panel táctil con controlador<br>
					Reproducción USB y SD Card<br>
					Sistema de sonido surround Burmester 13 altavoces de alta potencia y 590 vatios
					</li>
					<li>
					Iluminación de ambiente de 64 colores diferentes
					</li>
					<li>
					Paquete AMG interior<br>
					Molduras de madera fresno negro poros abiertos<br>
					Paquete de alumbrado interior (incluye portagafas y funciones de iluminación en el habitáculo)<br>
					Tablero de instrumentos y línea de cintura en las puertas símil ártico<br>
					Alfombrillas AMG con distintivo «AMG»
					</li>
					<li>
					Paquete AMG exterior<br>
					Llantas de aleación AMG de 45,7 cm (18″) y 10 RADIOS<br>
					Ensanchamiento del pasarruedas para llantas AMG<br>
					Pinzas de freno color gris: Discos delanteros/traseros autoventilados y perforados<br>
					Tren de rodaje deportivo AMG RIDE CONTROL<br>
					Kit estético AMG<br>
					Perfil aerodinámico AMG<br>
					Limpiaparabrisas con sensor de lluvia
					</li>
					<li>
					Dynamic Select (Permite elegir diferentes estilos de conducción: individual – Sport – Sport+ – Confort – Economy)
					</li>
					<li>
					Paquete de aparcamiento<br>
					PARKTRONIC (ayuda activa para estacionar que dirige automaticamente el vehículo accionando de forma autónoma el volante y los frenos)<br>
					Cámara para visualización parte trasera
					</li>
					<li>
					Paquete de retrovisores<br>
					Retrovisores exteriores plegables y extensibles por vía eléctrica<br>
					Sistema antideslumbrante automático en retrovisores interior y exterior<br>
					Descenso automático del cristal del retrovisor del lado del acompañante a la posición para aparcar al acoplar la marcha atrás<br>
					Iluminación del entorno del vehículo con proyección del logotipo de la marca
					</li>
					<li>
					Focos MULTIBEAM LED y luces de carretera automáticas Plus (el conductor tiene siempre a su disposición el mayor alcance de los faros)
					</li>
					<li>
					Techo corredizo panorámico
					</li>
					<li>
					Listones de umbral AMG delante iluminados en color blanco con diodos luminosos
					</li>
					<li>
					Reloj Analógico
					</li>
					<li>
					Kit Portaobjetos: Portavasos doble en la consola central
					</li>
					<li>
					Depósito de combustible de 66 litros
					</li>

				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=14030">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

