

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>Mercedes-AMG GT C – ROADSTER</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor/Potencia: 4.0 litros, V8 biturbo / 557 CV</span>
              </li>
              <li>
                <span>Tracción: AMG Performance trasera</span>
              </li>
              <li>
                <span>Torque: 680 Nm a 2.100 a 5.500 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 3,7 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Consumo mixto: 6,1* Km/L (valor referencial Ministerio de Energía)</span>
              </li>
              <li>
                <span>Transmisión AMG Speedschift DCT de 7 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=58&version=21865">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146573/AMG-GT-C-Roadster.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  En líneas generales, el Mercedes-AMG GT C Roadster se presenta como vehículo de ensueño y ofrece la forma más intensa de conducir un automóvil deportivo, con una percepción más directa de los fascinantes genes del Mercedes-AMG GT. El Mercedes-AMG GT Roadster encarna una simbiosis perfecta de la Driving Performance típica de AMG al más alto nivel y un placer de conducción a cielo abierto sin límites.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=21865">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                 El interior despierta asociaciones con el puesto de conducción de un avión: una vista espectacular, también con la capota abierta. Un rasgo llamativo es la posición baja del asiento junto a la consola central, con diseño que recuerda a un motor V8. Otro atributo esencial del AMG GT Roadster es la sobresaliente calidad de los materiales. El acabado alcanza un nivel artesanal, tanto a la vista como al tacto.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=21865">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>
				
				<li>
				Pintura Metálica especial
				</li>
				<li>
				Tapiz Cuero Napa
				</li>
				<li>
				Asientos deportivos AMG
				</li>
				<li>
				Kit de memoria de asientos, para conductor y acompañante
				</li>
				<li>
				Asientos calefactados para conductor y acompañante
				</li>
				<li>
				Molduras de fibra de vidrio AMG plata mate
				</li>
				<li>
				AIRSCARF (Calefacción integrada en el reposacabezas para conductor y
				</li>
				<li>
				Radio COMAND Online con sistema de navegación integrado<br>
				Reproducción CD, USB y SD Card<br>
				Interfaz Bluetooth para Smartphone<br>
				Panel con controlador táctil
				</li>
				<li>
				Sistema de sonido surround Burmester®
				</li>
				<li>
				Paquete de retrovisores<br>
				Ret. Interior y exterior izquierdo con sistema antideslumbrante automático<br>
				Retrovisores exteriores abatibles eléctricamente
				</li>
				<li>
				Sistema Keyless GO<br>
				Permite abrir, arrancar y bloquear el vehículo, sin usar la llave<br>
				Sensor de apertura de maletero
				</li>
				<li>
				AMG Indoor Car Cover
				</li>
				<li>
				Paquete AMG DYNAMIC PLUS<br>
				Volante AMG Performance en microfibra DINAMICA color negro<br>
				Active engine mount<br>
				Tren de rodaje AMG ride control con 3 nivel de rigidez en la suspensión
				</li>
				<li>
				Diferencial autoblocante AMG con regulación electrónica en el eje trasero
				</li>
				<li>
				AMG dirección eje trasero
				</li>
				<li>
				Frenos con pinzas de freno en color rojo de material compuesto
				</li>
				<li>
				AMG Dynamic Select ( Confort, sport,sport+, Race mode)
				</li>
				<li>
				Sistema “RACE START”
				</li>
				<li>
				Sistema de escape AMG Performance
				</li>
				<li>
				Spoiler trasero estático (manual ajustable)
				</li>
				<li>
				Kit de aparcamiento con camara 180° y piloto de estacionamiento PARKTRONIC
				</li>
				<li>
				Lavaparabrisas calefactado
				</li>
				<li>
				Automatismo de climatización THERMOTRONIC
				</li>
				<li>
				LED Light System (luces LED con adaptación automática)
				</li>
				<li>
				Paravientos (Protege con eficacia molestas corrientes de aire en la zona de la nuca)
				</li>
				<li>
				Depósito de combustible 75 lts
				</li>
				
				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=21865">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

