

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>Mercedes-AMG GLE 63 S 4MATIC Coupé</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor/Potencia: 5.5 litros, V8 biturbo / 585 CV</span>
              </li>
              <li>
                <span>Tracción: Integral permanente 4Matic</span>
              </li>
              <li>
                <span>Torque: 760/1.750 – 5.250 Nm a rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 4,2 seg de 0-100 Km/Hrs</span>
              </li>
              <li>
                <span>Velocidad Máxima: 280 Km/Hrs (Driver AMG)</span>
              </li>
              <li>
                <span>Consumo mixto: 8,4* Km/L (valor referencial Ministerio de Energía)</span>
              </li>
              <li>
                <span>Caja de cambio: Automática AMG SPEEDSHIFT PLUS 7G-TRONIC</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=58&version=21841">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146576/GLE-63-s-AMG-Coup%C3%A9.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  La línea lateral típica de coupé acentúa la deportividad y el carácter de vehículo para carretera. El diseño trasero con techo bajo y la imponente anchura del vehículo constituye el centro de todas las miradas.	
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=21841">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                 La espaciosidad típica de un SUV unida a la deportividad y exclusividad típicas de un coupé: el interior del GLE Coupé encierra lo mejor de los dos mundos.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=21841">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>

				<li>
				Pintura metálica
				</li>
				<li>
				Tapiz Cuero exclusivo Napa AMG
				</li>
				<li>
				Volante AMG Performance forrado en napa negra y microfibra dinámica
				</li>
				<li>
				Función de arranque Keyless GO
				</li>
				<li>
				Techo corredizo panorámico
				</li>
				<li>
				Transmisión automática AMG SPEEDSHIFT PLUS 7G-TRONIC
				</li>
				<li>
				Programas de conducción Dynamic Select
				</li>
				<li>
				Paquete aparcamiento<br>
				Ayuda activa para aparcar con camara 360°
				</li>
				<li>
				Paquete retrovisores<br>
				Retrovisores exterior izq. /interior antideslubrante y abatible<br>
				Retrovisores exteriores abatibles eléctricamente
				</li>
				<li>
				Paquete de protección antirrobo<br>
				Alarma antirrobo<br>
				Protección del habitáculo
				</li>
				<li>
				Kit de memorias<br>
				Asiento acompañante de ajuste eléctrico con memoria<br>
				Kit de memorias asiento del conductor regulable eléctricamente
				</li>
				<li>
				ACTIVE CURVE SYSTEM :Cuenta con estabilizadores activos del tren de
				</li>
				<li>
				Paquete Airmatic con ajustes de suspención «Confort» y «Sport» para un
				</li>
				<li>
				Apoyo lumbar con 4 vías de ajuste
				</li>
				<li>
				Alfombrillas AMG con distintivo “AMG”
				</li>
				<li>
				Perfil aerodinámico AMG
				</li>
				<li>
				Sistema amortiguación adaptativo PLUS
				</li>
				<li>
				Paquete AMG Driver: Limitación de la velocidad máxima a 280 km/h
				</li>
				<li>
				Radio COMAND Online con display de 8″<br>
				Sistema de navegación integrado<br>
				Reproducción DVD, CD, USB y SD Card<br>
				Interfaz Bluetooth con Smartphone / Conexión integrada para Ipod o Iphone<br>
				Sistema Apple Carplay y Android Auto integrado<br>
				Sistema de sonido surround Harman Kardon® Logic 7® : potencia máxima de 830 vatios y 14 altavoces de alto rendimiento con sonoridad 360°
				</li>
				<li>
				Climatización automática THERMATIC con dos zonas climática
				</li>
				<li>
				Asientos delanteros calefactados para conductor y acompañante
				</li>
				<li>
				Luces de carretera automatica PLUS
				</li>
				<li>
				Luces LED Intelligent Light System con adaptación automática de los faros a las condiciones meteorológicas
				</li>
				<li>
				Molduras en madera de alamo negro brillante
				</li>
				<li>
				Kit estético AMG
				</li>
				<li>
				Cristales Calorífugos tintados oscuros
				</li>
				<li>
				Iluminación ambiente
				</li>
				<li>
				Listones de umbral delante con distintivo Mercedes-Benz iluminado
				</li>
				<li>
				Portón trasero EASY-PACK: Puede abrirse y cerrarse pulsando un botón
				</li>
				<li>
				Enganche para remolque incluyendo ESP® con sistema de estabilización de remolque
				</li>
				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=21841">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

