

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>E 450 Exclusive 4Matic</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 3.0 litros, V6 biturbo</span>
              </li>
              <li>
                <span>Potencia: 367 CV</span>
              </li>
              <li>
                <span>Torque: 500 Nm a 1.800 – 4.500 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 5,6 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 11,7* Km/L (Valor referencial Daimler)</span>
              </li>
              <li>
                <span>Transmisión Automática 9G-TRONIC de 9 velocidades</span>
              </li>
				<li>
                <span>Tracción: Integral 4 Matic</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=45&version=22760">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146489/E-450-Exclusive-2019.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="/documents/55562/67964/1.jpg" alt="First slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/2.jpg" alt="Second slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/3.jpg" alt="Third slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/4.jpg" alt="Third slide">
			  </div>
			</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  La línea EXCLUSIVE Exterior se distingue por su presencia moderna y lujosa, con un paragolpes frontal revalorizado para esta línea. Otros atributos son el revestimiento clásico del radiador y la estrella Mercedes sobre el capó.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=45&version=22760">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  Los modernos rasgos de diseño y sus materiales de alta calidad armonizan perfectamente, generando un interior lujoso y acogedor.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=45&version=22760">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>

					<li>
					Pintura Metálica
					</li>
					<li>
					Tapiz de cuero napa
					</li>
					<li>
					Paquete de protección solar<br>
					Persiana en las puertas traseras a la izquierda y a la derecha<br>
					Persiana eléctrica para la luneta trasera
					</li>
					<li>
					Radio Comand online , Reproducción USB y SD Card<br>
					Puesto de conducción con pantalla completamente digital de 10,25″<br>
					Sistema de sonido surround Burmester®<br>
					Interfaz Bluetooth con Smartphone / Conexión integrada para Ipod o Iphone<br>
					Panel táctil con controlador
					</li>
					<li>
					Kit de memorias (asientos delanteros, columna de dirección y los retrovisores)
					</li>
					<li>
					Asientos climatizados para conductor y acompañante (Ventilación y calefacción)
					</li>
					<li>
					Paquete de retrovisores<br>
					Ret. Interior y exterior izquierdo con sistema antideslumbrante automático<br>
					Retrovisores exteriores abatibles eléctricamente
					</li>
					<li>
					Paquete Keyless GO<br>
					HANDS-FREE ACCESS<br>
					Cierre de confort de la tapa del maletero<br>
					KEYLESS GO
					</li>
					<li>
					MULTIBEAM LED<br>
					Faros LED High Performance ( Luces de carretera automáticas )
					</li>
					<li>
					Techo panorámico electrico de cristal
					</li>
					<li>
					Paquete de aparcamiento con cámara de 360°<br>
					Piloto para estacionamiento<br>
					Cámara de 360°
					</li>
					<li>
					Equipamiento EXCLUSIVE interior<br>
					Volante multifunción calefactado de 3 radios forrado en napa con levas de cambio<br>
					Molduras de raíz de nogal marrón brillante<br>
					Paquete de alumbrado interior (incluye iluminación de ambiente con 64 colores, reloj analógico y portagafas)<br>
					Revestimiento de símil de cuero Ártico<br>
					Reloj Analógico
					</li>
					<li>
					Kit portaobjetos<br>
					Portavasos doble en la consola central
					</li>
					<li>
					Servocierre: El confortable servocierre asegura un proceso de cierre suave y prácticamente sin ruido.
					</li>
					<li>
					Equipamiento Exclusive Exterior<br>
					AIR BODY CONTROL (Sistema de suspensión neumática)<br>
					Llantas de aleación de 45,7 cm (18″) y 5 radios dobles
					</li>
					<li>
					Dynamic Select (Permite elegir diferentes estilos de conducción: individual – Sport – Sport+ – Confort – Eco)
					</li>
					<li>
					9G-TRONIC (cambio automático de 9 velocidades)
					</li>
					<li>
					TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad )
					</li>
					<li>
					THERMATIC (climatización automática con 2 zonas climáticas)
					</li>
					<li>
					Depósito de combustible de 80 litros
					</li>
									

				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=45&version=22760">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

