

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>SL 500</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 4.7 litros; V8 biturbo</span>
              </li>
              <li>
                <span>Potencia: 435 CV</span>
              </li>
              <li>
                <span>Torque: 700 Nm a 3.500 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 4,6 seg de 0-100 Km/Hrs</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 10,8 Km/L</span>
              </li>
              <li>
                <span>Transmisión automática de 7 velocidades 7G-TRONIC Plus</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=56&version=14074">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146537/SL-500-.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  El nuevo frontal es una reminiscencia elegante de este icónico deportivo. La parrilla erguida de efecto diamante viene flanqueada por nuevos faros de forma dinámica y técnica LED integral, dándole un excepcional look, tanto diurno como nocturno.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=56&version=14074">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  Refinamiento y deportividad en un ambiente exclusivo: El puesto de conducción del nuevo SL destaca por una singular combinación de espacio, confort de asiento y profusión de elementos de máxima calidad.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=56&version=14074">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h1>Equipamiento</h1>
				<h3>Seguridad:</h3>
					<li>Airbag frontales con dos niveles de activación, airbags de cabeza en las puertas y airbags laterales para conductor y acompañante</li>
					<li>Avisador de pérdida de presión en los neumáticos.</li>
					<li>Alarma antirrobo, protección antirremolcado y sensor volumétrico.</li>
					<li>Sensor de estacionamiento PARKTRONIC con ayuda activa para aparcar.</li>
					<li>Sistema electrónico de estabilidad ESP, con funciones ASR, ABS y BAS, con activación en tres niveles.</li>
					<li>ADAPTIVE BRAKE con luz de freno parpadeante que activa ante frenadas de emergencia. Además función HOLD y frenos secos</li>
					<li>Tren de rodaje con sistema de amortiguación adaptativa.</li>
					<li>Sistema Attention Assist que detecta la fatiga del conductor.</li>
					<li>Alzavidrios eléctricos con cierre Pre-Safe.</li>
					<li>Limitador adaptativo de la fuerza de tensado en cinturones.</li>
					<li>Reposacabezas delanteros con sistema NECK-PRO.</li>
					<li>Habitáculo de seguridad de alta resistencia.</li>
					<li>Dirección paramétrica deportiva</li>
					<li>Equipo de frenos de alto rendimiento</li>
					<li>Programa electrónico de estabilidad ESP.</li>
					<li>Torque Vectoring Brake, función que ayuda a mejor el comportamiento en curvas.</li>
					<li>Freno de estacionamiento eléctrico con función de comfort.</li>
					<li>Cámara de marcha atrás</li>
					<li>Arco protector antivuelco</li>

				<h3>Interior y exterior:</h3>
					<li>Pintura Metalizada</li>
					<li>Tapiz de cuero perforado negro</li>
					<li>Retrovisores antideslumbramiento con ajuste electrico</li>
					<li>Cristales calorífugos</li>
					<li>Adaptative Brake con función Hold</li>
					<li>Dirección directa</li>
					<li>Tren de rodaje con amortiguación adaptativa</li>
					<li>Luces diurnas LED</li>
					<li>Asientos con ajuste eléctrico</li>
					<li>Airbag frontales conductor acompañante</li>
					<li>Airbags de cabezas y laterales</li>
					<li>Pre-Safe</li>
					<li>Lavaparabrisas</li>
					<li>Transmisión 7G-Tronic</li>
					<li>Reposacabezas NECK-PRO</li>
					<li>Radio Command Online con 6 CD</li>
					<li>Attention Assist</li>
					<li>Alarma Antirrobo</li>
					<li>Climatizador Thermotronic</li>
					<li>Intelligent Light System</li>
					<li>Apertura a distancia de maletero y cierre asistido</li>
					<li>Techo retractil</li>
					<li>Torque Vectoring Brake</li>
					<li>Arranque parada ECO start/stop</li>
					<li>Luz freno adaptativa parpadeante</li>
					<li>Detector de silla infantil</li>
					<li>Cámara de retroceso</li>
					<li>Parktronic con ayuda activa para aparcar</li>
					<li>Asientos climatizados</li>
					<li>Espejos antideslumbrantes</li>
					<li>Retrovisores abatibles eléctricamente</li>
					<li>Paquete de ayuda a la conducción PLUS</li>
					<li>Distronic Plus</li>
					<li>Control angulo muerto</li>
					<li>Control activo cambio de carril</li>
					<li>Reloj analógico en tablero</li>
					<li>Paravientos electico</li>
					<li>Kit fumador</li>
					<li>Airscarf</li>
					<li>Asientos multicontorno activo</li>
					<li>Avisador de pérdida de presion en neumáticos</li>
					<li>Protección inferior del motor</li>
					<li>Argollas de transporte</li>
					<li>Extintor</li>
					<li>Sound System Harman Kardon</li>
					<li>Iluminación de ambiente</li>
					<li>Servocierre para puertas</li>
					<li>Paquete AMG</li>
					<li>Llantas AMG de 5 radios R19</li>
					<li>kit estético AMG</li>
					<li>Tren de rodaje deportivo</li>
					<li>Volante deportivo multifuncion en napa con inferior plano</li>
					<li>Levas de cambio al volante color plata</li>
					<li>Molduras de Fresno Negro</li>
					<li>Techo interior textil negro</li>
					<li>Alfombrillas AMG</li>
					<li>Paquete Keyless-go</li>
					<li>Cierre a distancia de la tapa del maletero</li>
					<li>Keyless-Go</li>
					<li>Hands Free Acces</li>
					<li>Cinturones de seguridad designo, color plata.</li>

				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=56&version=14074">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

