
<!--  estructura temporal cotizacion -->
  <div class="data_info-btn">
	<button class="btn btn-main"><a href="">Cotizar</a></button>
	<button class="btn btn-default"><a href=""><img alt="Kaufmann Servicios Financieros" src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" /></a></button>
  </div>



<!-- final estructura descarga ficha -->
<div>
	<button class="btn btn-line">
		<span> 
			<a href=""> 
				<i class="far fa-file-pdf"></i> 
				<span>Descargar ficha</span>
			 </a>
		</span>
	</button>
</div>



<!-- cotizar-->
  <div class="data_info-btn">
	<button class="btn btn-main">
	  <a href="">
		<span>Cotizar</span>
	  </a>
	</button>
	<button class="btn btn-default">
	  <a href="">
		<img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
	  </a>
	</button>
  </div>
  
  <div class="data_info-btn">
	  <button class="btn btn-main"><a href=""><span>Cotizar</span></a></button>
	  <button class="btn btn-default"><a href=""><img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros"></a></button>
  </div>
  

