

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>Mercedes-AMG GLC 43 4MATIC</h3>	
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor/Potencia: 3.0 litros, V6 Biturbo/ 367CV</span>
              </li>
              <li>
                <span>Tracción: Tracción integral AMG Performance 4MATIC</span>
              </li>
              <li>
                <span>Torque: 520 Nm a 2.500 – 4.500 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 4,9 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 11,5* Km/L (valor referencial Ministerio de Energía)</span>
              </li>
              <li>
                <span>Transmisión Automática 9G-TRONIC de 9 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=50&version=19366">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146459/Mercedes-AMG-GLC-43-4Matic.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  En el exterior y en el interior se distingue a primera vista del GLC por un diseño claramente más deportivo. 
				  El Mercedes-AMG GLC 43 4MATIC es el modelo más potente y más deportivo del GLC.
				  Este vehículo ofrece a los clientes un acceso asequible al mundo de la Driving Performance de AMG.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=50&version=19366">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  ELook-and-feel de AMG en el interior con volante deportivo multifunción con sección inferior plana, 
				  asientos deportivos con diseño específico AMG del acolchado y tapizado de símil de cuero ARTICO/microfibra DINAMICA en negro con costuras de adorno rojas.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=50&version=19366">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>

					<li>
					Pintura Metálica
					</li>
					<li>
					Tapiz Cuero Símil / Microfibra Dinámica Negra 641
					</li>
					<li>
					Techo corredizo panoramico
					</li>
					<li>
					9G-TRONIC (cambio automático de 9 velocidades)
					</li>
					<li>
					Función de parada automática del motor ECO Start/Stop
					</li>
					<li>
					Sistema de sonido Surround Burmester
					</li>
					<li>
					Radio audio 20 CD con Apple Carplay y Android Auto integrado<br>
					Reproducción CD, USB y SD Card<br>
					Interfaz Bluetooth con Smartphone / Conexión integrada para Ipod o Iphone<br>
					PARKTRONIC (ayuda activa para estacionar que dirige automáticamente el vehículo accionando de forma autónoma el volante y los frenos)
					</li>
					<li>
					Cámara de marcha atrás con líneas de guía dinámicas
					</li>
					<li>
					AMG Interior<br>
					Esteras AMG<br>
					Portavasos doble<br>
					Molduras de madera fresno negro de poros abiertos<br>
					Paquete de alumbrado interior
					</li>
					<li>
					Línea Exterior AMG<br>
					DYNAMIC SELECT<br>
					AIR BODY CONTROL<br>
					Kit estético AMG
					</li>
					<li>
					Paquete cromado
					</li>
					<li>
					Ret. Interior y exterior izquierdo con sistema antideslumbrante automático
					</li>
					<li>
					Retrovisores exteriores abatibles eléctricamente
					</li>
					<li>
					Retrovisores exteriores con iluminación del entorno
					</li>
					<li>
					Función de arranque KEYLESS GO
					</li>
					<li>
					Limpiaparabrisas con sensor de lluvia
					</li>
					<li>
					Llantas de aleación de 48,3 cm (21″) y 5 radios dobles de color negro
					</li>
					<li>
					TIREFIT(con compresor de inflado de neumáticos)
					</li>
					<li>
					LED Intelligent Light System (luces LED con adaptación automática)
					</li>
					<li>
					Luces de carretera automáticas Plus (evitan deslumbrar a otros conductores)
					</li>
					<li>
					THERMATIC (climatización automática con 2 zonas independientes)
					</li>
					<li>
					Asientos calefaccionados para conductor y acompañante
					</li>
					<li>
					Iluminación de ambiente de 64 colores diferentes
					</li>
					<li>
					Kit de memorias<br>
					Asiento acompañante de ajuste eléctrico con memoria<br>
					Kit de memorias asiento del conductor regulable eléctricamente
					</li>
					<li>
					Cristales calorífugos tintados oscuros
					</li>
					<li>
					Cubierta de compartimiento de carga EASY-PACK
					</li>
					<li>
					TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad )
					</li>
					<li>
					Portón trasero Easy Pack
					</li>
				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=50&version=19366">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

