

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>Mercedes-AMG E 63 S 4MATIC</h3>	
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 4.0 litros, V8 biturbo</span>
              </li>
              <li>
                <span>Potencia: 612 CV</span>
              </li>
              <li>
                <span>Torque: 850 Nm a 2.500 – 4.500 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 3,4 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 300 Km/Hrs (AMG driver package)</span>
              </li>
              <li>
                <span>Consumo mixto: 6,4* Km/L (valor referencial Ministerio de Energía)</span>
              </li>
              <li>
                <span>Transmisión AMG Speedschift MCT de 9 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=58&version=18826">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146546/E-63-S-AMG.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  Un diseño que encarna prestigio y marca estilo, de modo que el vehículo refleja de modo especial los valores de la marca Mercedes-Benz.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=18826">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  Los modernos rasgos de diseño y sus materiales de alta calidad armonizan perfectamente, generando un interior deportivo y acogedor.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=18826">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>
					<li>Airbags frontales y laterales para conductor y acompañante.</li>
					<li>Windowbags en todas las ventanillas (protección para la cabeza durante un choque lateral).</li>
					<li>Airbags de rodillas para el conductor.</li>
					<li>Frenos ABS con servofreno de emergencia BAS y control de tracción ASR.</li>
					<li>Paquete de seguridad para las plazas traseras<br>
					Airbag laterales detrás izquierda y derecha<br>
					Airbag de cinturón</li>
					<li>Sistema electrónico de estabilidad ESP.</li>
					<li>Sistema de frenos ADAPTIVE BRAKE con función HOLD (ayuda al arranque en pendientes, llenado anticipado y frenos secos al conducir en días de lluvia).</li>
					<li>Alarma volumétrica antirrobo con protección antirremolque</li>
					<li>Freno de estacionamiento con mando eléctrico.</li>
					<li>Luz de freno adaptativa de emergencia.</li>
					<li>Extintor montado bajo el asiento del conductor.</li>
					<li>Sistema de advertencia por desgaste de las pastillas de freno.</li>
					<li>Control de la presión de los neumáticos</li>
					<li>TIREFIT(con compresor de inflado de neumáticos)</li>
					<li>Sistema de alerta por cansancio “ATTENTION ASSIST”.</li>
					<li>Alzavidrios eléctricos con función antiapriete y accionamiento de confort.</li>
					<li>Bloqueo de arranque electrónico (impide encendido del vehículo sin su llave).</li>
					<li>Paquete de asistencia a la conducción Plus<br>
					DISTRONIC PLUS con servodirección inteligente mantiene el carril y la distancia<br>
					BAS PLUS con asistente para cruces: asistencia preventiva al frenar<br>
					Freno PRE-SAFE®: advierte, frena, protege<br>
					Detector activo de cambio de carril: permanecer en el centro del propio carril<br>
					Control activo de ángulo muerto: protección activa contra colisiones laterales<br>
					PRE-SAFE® PLUS, más protección ante el peligro de una colisión por alcance<br>
					TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad )</li>
					<li>Función de parada automática del motor ECO Start/Stop</li>

				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=18826">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

