

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>Mercedes-AMG C 43 4MATIC Cabriolet</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor/Potencia: V6 de 3.0 litros Biturbo/ 390 CV</span>
              </li>
              <li>
                <span>Tracción: Integral permanente 4MATIC</span>
              </li>
              <li>
                <span>Torque: 520 Nm a 2.000 – 5.000 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 4,8 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 10,2* Km/L (valor referencial Daimler)</span>
              </li>
              <li>
                <span>Transmisión Automática 9G-TRONIC de 9 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=43&version=21466">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146447/Mercedes-AMG-C-43-Cabrio-Facelift.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="/documents/55562/67964/1.jpg" alt="First slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/2.jpg" alt="Second slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/3.jpg" alt="Third slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/4.jpg" alt="Third slide">
			  </div>
			</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  La capota multicapa de gran tersura subraya la elevada calidad del vehículo cuando está cerrada. Al abrir la capota se aprecia la armonía entre el diseño exterior y el diseño interior.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=43&version=21466">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  La sensación AMG también es perceptible en cada detalle del interior, el resultado es una fusión perfecta de confort de primera clase y un ambiente deportivo.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=43&version=21466">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>
				
					<li>
					Pintura Metálica
					</li>
					<li>
					Tapiz Simíl de Cuero / Microfibra Dinámica negro con costuras rojas
					</li>
					<li>
					Función de arranque Keyless-GO (permite encender el vehículo sin usar la llave)
					</li>
					<li>
					Kit de memorias (asientos delanteros, columna de dirección y los retrovisores)
					</li>
					<li>
					Radio audio 20 con Apple Carplay, Android Auto integrado y CD<br>
					Visualizador de medios de 10,25″<br>
					Interfaz Bluetooth con Smartphone / Conexión integrada para Ipod o Iphone<br>
					Panel táctil
					</li>
					<li>
					Cuadro de instrumentos completamente digital
					</li>
					<li>
					Sistema de sonido surround Burmester®<br>
					PARKTRONIC (ayuda activa para estacionar que dirige automaticamente el vehículo accionando de forma autónoma el volante y los frenos)
					</li>
					<li>
					Linea AMG Interior<br>
					Molduras de efecto lacado brillante negro/aluminio claro con rectificado longitudinal<br>
					Paquete de alumbrado interior (incluye portagafas y funciones de iluminación en el habitáculo)<br>
					Listones del umbral AMG iluminados en color blanco con diodos luminosos<br>
					Alfombrillas AMG con distintivo «AMG»
					</li>
					<li>
					Linea AMG exterior<br>
					Kit estético AMG<br>
					Parrilla de radiador de efecto diamante<br>
					Llantas de aleación AMG de 48,3 cm (19″) y diseño de 5 radios dobles
					</li>
					<li>
					Dynamic Select (Permite elegir diferentes estilos de conducción: individual – Sport – Sport+ – Confort – Economy)
					</li>
					<li>
					THERMATIC (climatización automática con 2 zonas climáticas)
					</li>
					<li>
					Paquete de confort para cabrio<br>
					Aircap (paravientos automático para reducir las corrientes de aire )<br>
					Airscarf (calefacción integrada en los reposacabezas delanteros)
					</li>
					<li>
					Paquete de retrovisores<br>
					Retrovisores exteriores plegables y extensibles por vía eléctrica<br>
					Sistema antideslumbrante automático en retrovisores interior y exterior
					</li>
					<li>
					Paquete de protección antirrobo (sistema de advertencia de robo, incluye alarma)
					</li>
					<li>
					Apoyo lumbar con 4 vías de ajuste
					</li>
					<li>
					Asientos calefactados para conductor y acompañante
					</li>
					<li>
					Extensor cinturón de seguridad
					</li>
					<li>
					Capota insonorizante de lona negra
					</li>
					<li>
					Kit portaobjetos (incluye red de carga y caja plegable bajo maletera)
					</li>
					<li>
					Limpiaparabrisas con sensor de lluvia
					</li>
					<li>
					LED Intelligent Light System (luces LED con adaptación automática)
					</li>
					<li>
					Luces de carretera automáticas Plus
					</li>
					<li>
					Depósito de combustible de 66 litros
					</li>
                  <li>
                    <span>Pintura Metálica</span>
                  </li>
                  <li>
                    <span>Símil de cuero ARTICO con Tela Maringa Negra</span>
                  </li>
                  <li>
                    <span>Función de parada y arranque Eco</span>
                  </li>	
				  <li>
                    <span>DYNAMIC SELECT</span>
                  </li>	
				  <li>
                    <span>Paquete Urban</span>
                  </li>	
				  <li>
                    <span>Volante multifunción en cuero</span>
                  </li>	
				  <li>
                    <span>Barras longitudinales en el techo de aluminio</span>
                  </li>	
				  <li>
                    <span>Molduras de aluminio con rectificado trapezoidal</span>
                  </li>	
				  <li>
                    <span>Llantas de aleación de 45,7 cm (18″) y 5 radios</span>
                  </li>	
				  <li>
                    <span>Alfombrillas de velours</span>
                  </li>	
				  <li>
                    <span>Apoyo lumbar de 4 vías de ajuste</span>
                  </li>	
				  <li>
                    <span>Paquete de ajustes de confort en asiento</span>
                  </li>	
				  <li>
                    <span>Limpiaparabrisas con sensor de lluvia</span>
                  </li>	
				  <li>
                    <span>Parasol con espejo de cortesía iluminado</span>
                  </li>	
				  <li>
                    <span>Ayuda activa para aparcar</span>
                  </li>	
				  <li>
                    <span>Collision prevention assist Plus</span>
                  </li>	
				  <li>
                    <span>Levas de cambio en el volante</span>
                  </li>	
				  <li>
                    <span>7G-DCT</span>
                  </li>	
				  <li>
                    <span>TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad)</span>
                  </li>	
				  <li>
                    <span>Volante multifunción en cuero</span>
                  </li>	
				  <li>
                    <span>Avisador de pérdida de presión en los neumáticos</span>
                  </li>	
				  <li>
                    <span>Tren de rodaje confort para todo terreno</span>
                  </li>	
				  <li>
                    <span>Radio audio 20 CD</span>
                  </li>	
				  <li>
                    <span>Attention Assist</span>
                  </li>	
				  <li>
                    <span>Equipo de aire acondicionado</span>
                  </li>	
				  <li>
                    <span>Faros LED High Performance</span>
                  </li>	
				  <li>
                    <span>Función de arranque Keyless GO</span>
              	<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=43&version=21466">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

