

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

	  <div class="container data_model">
		<div class="row">
		  <div class="data_model-content">
			<div class="data_model-info">
			  <h3>CLA 180</h3>
			  <h5>Precio mes: $23.990.000.-</h5>		  
			  <div class="data_model-list">
				<ul>
				  <li>
					<span>Motor: 1.6 litros, 4 cilindros turbo</span>
				  </li>
				  <li>
					<span>Potencia: 122 CV</span>
				  </li>
				  <li>
					<span>Torque: 200 Nm a 1.250 – 4.000 rpm
					  </span>
				  </li>
				  <li>
					<span>Aceleración: 8,7 seg de 0-100 Km/H.</span>
				  </li>
				  <li>
					<span>Velocidad Máxima: 210 Km/Hrs</span>
				  </li>
				  <li>
					<span>Consumo mixto: 14,1* Km/L (valor referencial Ministerio de Energía)</span>
				  </li>
				  <li>
					<span>Transmisión Automática doble embrague 7G-DCT de 7 velocidades</span>
				  </li>
				</ul>
			  </div>
				<div class="data_info-btn">
					<button class="btn btn-main">
					  <a href="/cotizador?categoria=automoviles&modelo=47&version=14037">
						<span>Cotizar</span>
					  </a>
					</button>
					
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
					  <a href="">
						<img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
					  </a>
					</button>
					
				</div>
			  <div>
				<button class="btn btn-line">
				  <a href="/documents/55562/146406/CLA-180-aut-KEYLESS-GO.pdf">
					<i class="far fa-file-pdf"></i>
					<span>Descargar ficha</span>
				  </a>
				</button>
			  </div>
			</div>
			<div class="data_model-images">
			  <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>
			</div>
			
		  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <img src="./img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <p>La mejor alternativa al financiamiento tradicional. Lo invitamos a cotizar con Kaufmann Servicios Financieros</p>
				  <div class="d-flex flex-wrap w-100">
					<div class="col-sm-12 col-md-4 col-lg-4 modal-content-input">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Rut" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Teléfono" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese Ciudad" class="input__bottom">
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4 modal-content-input">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Nombre" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Pie" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Comuna" class="input__bottom">
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4 modal-content-input">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su e-mail" class="input__bottom">
					  <div class="modelTruck">
						<p>Modelo:</p>
						<p>B 200</p>
					  </div>
					  <div>
						<button class="btn btn-main">
						  <a href="">
							<span>Enviar</span>
						  </a>
						</button>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  
			<div class="data_model-features">
			  <hr>
			  <div class="data_features">
				<h3>Características</h3>
				<div class="data_features-content" style="display:none">
				  <div class="data_features-list">
					<ul>	
					  <li>
						<span>MOTOR: OM 501</span>
					  </li>
					  <li>
						<span>MOTOR: OM 501</span>
					  </li>
					  <li>
						<span>MOTOR: OM 501</span>
					  </li>
					  <li>
						<span>MOTOR: OM 501</span>
					  </li>
					  <li>
						<span>MOTOR: OM 501</span>
					  </li>
					</ul>
					<ul>
					  <li>
						<span>MOTOR: OM 501</span>
					  </li>
					  <li>
						<span>MOTOR: OM 501</span>
					  </li>
					  <li>
						<span>MOTOR: OM 501</span>
					  </li>
					  <li>
						<span>MOTOR: OM 501</span>
					  </li>
					  <li>
						<span>MOTOR: OM 501</span>
					  </li>
					</ul>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  Diseñado para representar el lujo de un Coupé de cuatro puertas sin perjudicar su deportividad, con vigorozas líneas y llamativas reflexiones de la luz.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=47&version=14037">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/documents/55562/67964/1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img src="/documents/55562/67964/2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                      <img src="/documents/55562/67964/3.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                      <img src="/documents/55562/67964/4.jpg" alt="Third slide">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/documents/55562/67964/1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img src="/documents/55562/67964/2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                      <img src="/documents/55562/67964/3.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                      <img src="/documents/55562/67964/4.jpg" alt="Third slide">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  El carácter deportivo del exterior prosigue en el diseño interior mediante rasgos de configuración acentuadamente horizontales. Materiales de calidad elevada y un acabado preciso de todos los detalles satisfacen el alto nivel de exigencias de un coupé fuera de lo común.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=47&version=14037">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h1>Equipamiento</h1>
				<h3>Seguridad:</h3>
				<!--<ul class="list_equipament">-->
					<li>Airbags frontales y laterales para conductor y acompañante.</li>
					<li>Windowbags en todas las ventanillas (protección para la cabeza durante un choque lateral).</li>
					<li>Airbags de rodillas para el conductor.</li>
					<li>Frenos ABS con servofreno de emergencia BAS y control de tracción ASR.</li>
					<li>Sistema electrónico de estabilidad ESP.</li>
					<li>Sistema de frenos ADAPTIVE BRAKE con función HOLD (ayuda al arranque en pendientes, llenado anticipado y frenos secos al conducir en días de lluvia).</li>
					<li>Freno de estacionamiento con mando eléctrico.</li>
					<li>Luz de freno adaptativa de emergencia.</li>
					<li>Extintor montado bajo el asiento del conductor.</li>
					<li>Sistema de advertencia por desgaste de las pastillas de freno.</li>
					<li>Sistema de advertencia por perdida de presión en los neumáticos.</li>
					<li>Neumáticos con propiedades de emergencia RUNFLAT</li>
					<li>Sistema de alerta por cansancio “ATTENTION ASSIST”.</li>
					<li>Alzavidrios eléctricos con función antiapriete y accionamiento de confort.</li>
					<li>Función de parada automática del motor ECO Start/Stop</li>
					<li>Bloqueo de arranque electrónico (impide encendido del vehículo sin su llave).</li>
				<!--</ul>-->
				
				<h3>Interior y exterior:</h3>
				<li>Pintura Metálica</li>
					<li>Símil de cuero ártico con tela maringá negra y costuras azules</li>
					<li>Función de parada automática del motor ECO Start/Stop</li>
					<li>Servofreno de emergencia activo (sistema de advertencia y asistencia al frenado que puede ayudar a impedir accidentes con vehículos)</li>
					<li>Piloto para estacionamiento (ayuda activa PARKTRONIC que dirige automaticamente el vehículo manejando la dirección y los frenos.)</li>
					<li>Cámara de marcha atrás</li>
					<li>Línea de equipamiento Urban:
					<ul>
					<li>Llantas de aleación de 45,7 cm (18″) y 5 radios dobles color gris Himalaya</li>
					<li>Volante multifunción de cuero</li>
					<li>Tren de rodaje de confort de altura rebajada</li>
					<li>Dynamic Select (Permite elegir diferentes estilos de conducción: individual – Sport – Confort – Eco)</li>
					<li>Molduras en efecto vela l Radio audio 20 CD (incluye display de 7″, interfaz Bluetooth, CD y conexión USB)</li>
					</ul>
					</li>
					<li>Faros LED High Performance</li>
					<li>7G-DCT (cambio automático de doble embrague de 7 velocidades)</li>
					<li>TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad)</li>
					<li>Alfombrillas de velours</li>
					<li>Equipo de aire acondicionado con regulador de temperatura</li>
					<li>Neumáticos con propiedades de emergencia RUNFLAT</li>
					<li>Sistema de advertencia por perdida de presión en los neumáticos.</li>
					<li>Airbags frontales y laterales para conductor y acompañante</li>
					<li>Windowbags en todas las ventanillas (protección para la cabeza durante un choque lateral)</li>
					<li>Airbags de rodillas para el conductor</li>
					<li>Attention Assist (sistema de alerta de cansancio)</li>
					<li>Extintor montado bajo el asiento del conductor</li>
				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=47&version=14037">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

