

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>GLE Coupé 350 d 4MATIC Sport</h3>	
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 3.0 Lts V6 Turbo intercooler</span>
              </li>
              <li>
                <span>Potencia: 258 CV</span>
              </li>
              <li>
                <span>Torque: 620 Nm / 1.600 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 7 seg de 0-100 Km/Hrs</span>
              </li>
              <li>
                <span>Velocidad Máxima: 226 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 13,8 Km/Lt (valor referencial)</span>
              </li>
              <li>
                <span>Caja de cambio: Automática de 9 velocidades 9G-TRONIC PLUS</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=51&version=14438">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146513/GLE-350-BT-Coupe-Sport14U-Carplayprod-julio.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="/documents/55562/67964/1.jpg" alt="First slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/2.jpg" alt="Second slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/3.jpg" alt="Third slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/4.jpg" alt="Third slide">
			  </div>
			</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  Una carrocería baja y un techo ligeramente inclinado confieren al GLE Coupé su silueta característica. El vehículo destaca por sus expresivas proporciones, que confluyen en una interacción fascinante con elementos característicos de un SUV.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=51&version=14438">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  La deportividad de un coupé y la espaciosidad típica de un SUV. El interior del GLE Coupé encierra lo mejor de los dos mundos.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=51&version=14438">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>
				<p>Interior y Exterior</p>

					<li>Pintura metálica</li>
					<li>Tapiz Símil Cuero ártico</li>
					<li>Función de parada y arranque ECO</li>
					<li>Función de arranque Keyless GO</li>
					<li>Programas de conducción Dynamic Select</li>
					<li>Paquete retrovisores: Retrovisores exterior izq. /interior antideslumbrante y abatible</li>
					<li>Retrovisores exteriores abatibles eléctricamente</li>
					<li>Paquete de protección antirrobo: Alarma antirrobo</li>
					<li>Apoyo lumbar con 4 vías de ajuste</li>
					<li>Depuración de gases Bluetec</li>
					<li>Cámara para visualización parte trasera</li>
					<li>Ayuda activa para aparcar</li>
					<li>Asientos deportivos delanteros</li>
					<li>Collision Prevention assist</li>
					<li>Airbags de rodillas para el conductor</li>
					<li>Sistema de navegación Garmin MAP PILOT</li>
					<li>Transmisión automática de 9 velocidades 9G TRONIC</li>
					<li>Filtro de particulas diésel</li>
					<li>Avisador de perdida de presión en los neumáticos</li>
					<li>Llantas de aleación de 50,8 cm (20″) y 5 radios dobles</li>
					<li>Radio Audio 20 CD con Unidad de CD Individual</li>
					<li>Pantalla Display TFT de 20,3 cm (8″)</li>
					<li>Asientos delanteros con ajuste eléctrico</li>
					<li>Climatización thermatic</li>
					<li>Luces de carretera automatica PLUS</li>
					<li>Luces Intelligent Light System</li>
					<li>&nbsp;Molduras aluminio</li>
					<li>Cristales Calorífugos tintados oscuros</li>
					<li>Portón trasero EASY-PACK</li>
					<li>Deposito de combustible 93 litros</li>
					<li>Enganche para remolque</li>

				<h3>Seguridad</h3>

					<li>Airbags frontales con dos niveles de activación.</li>
					<li>Airbags laterales delanteros.</li>
					<li>Windowbags en todas las ventanillas.</li>
					<li>Pretensores pirotécnicos y limitadores de tensión en las plazas delanteras y traseras.</li>
					<li>Cinturones de seguridad de tres puntos con limitadores de tensión y pretensores integrados en el enrollador del cinturón.</li>
					<li>Sistema antibloqueo de frenos ABS con servofreno de emergencia BAS.</li>
					<li>Sistema electrónico de estabilidad ESP.</li>
					<li>Tracción integral permanente 4Matic.</li>
					<li>Velocidad crucero Tempomat con limitador Speedtronic.</li>
					<li>Luces diurnas de diodos luminosos.</li>
					<li>Sistema de alerta por cansancio Attention Assist.</li>
					<li>Freno de estacionamiento eléctrico.</li>
					<li>Dirección paramétrica con asistencia variable en función de la velocidad.</li>
					<li>Adaptive Brake con llenado anticipado y función de frenos secos.</li>
					<li>Ayuda de arranque en pendientes y función Hold para acortar la distancia de frenado y facilitar la puesta en marcha.</li>
					<li>Sensor de estacionamiento Parktronic con guía activa para estacionar.</li>
					<li>Limpiaparabrisas con sensor de lluvia.</li>
					<li>Luz de freno adaptativa que acorta el tiempo de reacción de los conductores de los vehículos que circulan detrás.</li>
					<li>Anclajes ISOFIX para sillas infantiles en las plazas traseras.</li>
					<li>Reposacabezas con sistema de protección pasiva que reduce el riesgo del síndrome de latigazo por colisiones de alcance.</li>
					<li>Habitáculo de gran estabilidad, armonizado con la resistencia a la deformación de la estructura frontal. El tubo envolvente de la dirección puede ceder hasta 100 mm en colisiones frontales y aumentar el espacio de protección para el conductor.</li>
					<li>Avisador de pérdida de presión en los neumáticos.</li>
					<li>Función de arranque y para ECO.</li>

				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=51&version=14438">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

