

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>Mercedes-AMG S 63 4MATIC+ Coupé	</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor/Potencia: 4.0 litros, V8 biturbo / 612 CV</span>
              </li>
              <li>
                <span>Tracción: Integral 4Matic</span>
              </li>
              <li>
                <span>Torque: 900 Nm a 2.750 – 4.500 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 3,5 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs	</span>
              </li>
              <li>
                <span>Consumo mixto: 10,8* Km/L (valor referencial Ministerio de Energía)</span>
              </li>
              <li>
                <span>Transmisión Automática de 9 velocidades AMG SPEEDSHIFT MCT</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=58&version=14034">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146579/S-63-AMG-4Matic-Coup%C3%A9.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  La Clase S Coupé: La especial deportividad y exclusividad se reflejan también en el renovado diseño potente del faldón delantero con la parrilla específica de AMG y el Jet-Wing, así como en el marcado faldón trasero con expresivas salidas dobles de escape.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=14034">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  Visualizadores futuristas y materiales escogidos: un interior que asombra y entusiasma a primera vista. Cada mirada y cada contacto con la Clase S Coupé es una experiencia de lujo y permite apreciar la pasión pura por la construcción de automóviles.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=14034">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>

				<li>
				Pintura Metálica
				</li>
				<li>
				Tapizado cuero exclusivo napa designo AMG
				</li>
				<li>
				Techo interior Designo DINAMICA Negra
				</li>
				<li>
				Molduras de madera de raíz de nogal marrón brillante
				</li>
				<li>
				Volante AMG Performance en napa/microfibra DINAMICA
				</li>
				<li>
				Persiana eléctrica para luneta trasera
				</li>
				<li>
				Parasol doble iluminado
				</li>
				<li>
				Paquete KEYLESS GO<br>
				Hands-Free Access<br>
				Desbloqueo a distancia de la tapa del maletero<br>
				KEYLESS GO (apertura, arranque y bloqueo sin llave)
				</li>
				<li>
				LED Intelligent Light System<br>
				Luces de carretera automáticas Plus<br>
				Faros LED dinámicos circulación derecha
				</li>
				<li>
				Paquete de aparcamiento con cámara de 360°<br>
				Ayuda activa para aparcar con Parktronic<br>
				Cámara de 360°
				</li>
				<li>
				Retrovisores interior y exterior izquierdo con antideslumbramiento automático
				</li>
				<li>
				Asiento del conductor y pasajero de ajuste eléctrico con función de memorias
				</li>
				<li>
				Resposacabezas de confort delante
				</li>
				<li>
				Asientos climatizados para conductor y acompañante
				</li>
				<li>
				Asientos calefactados Plus para conductor y acompañante
				</li>
				<li>
				Paquete de asientos multicontorno activos
				</li>
				<li>
				Asientos calefactados en las plazas traseras
				</li>
				<li>
				Paquete de integración para smartphone<br>
				Apple Car Play<br>
				Android Auto
				</li>
				<li>
				Dispositivo de apertura del garaje
				</li>
				<li>
				Insertos de ceniceros con tapa incluida incluye encendedor
				</li>
				<li>
				Portavasos doble
				</li>
				<li>
				Panel táctil con controlador
				</li>
				<li>
				COMAND Online
				</li>
				<li>
				Sistema de Sonido Surround Burmester con 13 parlantes y 590 Watts de potencia
				</li>
				<li>
				Sistema inalámbrico de carga para dispositivos móviles con tecnología NFC
				</li>
				<li>
				Unidad de CD
				</li>
				<li>
				Head-up-Display
				</li>
				<li>
				Iluminación de ambiente
				</li>
				<li>
				Servocierre de puertas
				</li>
				<li>
				Climatización automática THERMOTRONIC<br>
				Comandos al volante
				</li>
				<li>
				Cristales calorífugos y reflectantes infrarrojos
				</li>
				<li>
				Depósito de agua lavaparabrisas calefactado
				</li>
				<li>
				Sistema de visión nocturna
				</li>
				<li>
				Techo corredizo automático
				</li>
				<li>
				MAGIC VISION CONTROL (Sistema limpiaparabrisas adaptativo, calefactado)
				</li>
				<li>
				AMG Line<br>
				Alfombrillas AMG con distintivo AMG<br>
				Kit estético AMG<br>
				Llantas forjadas AMG de 50,8 cm 20″ y 10 radios, color Gris Titanio pulidas<br>
				Ensanchamiento del pasarruedas para llantas AMG
				</li>
				<li>
				Desactivación selectiva de cilindros
				</li>
				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=14034">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

