

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>C 200 Coupé</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 2.0 litros, 4 cilindros</span>
              </li>
              <li>
                <span>Potencia: 204 CV</span>
              </li>
              <li>
                <span>Torque: 300/1.600 – 4.000 Nm a rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 7,5 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 238 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 15,3* Km/L (valor referencial Daimler)</span>
              </li>
              <li>
                <span>Transmisión Automática 9G-TRONIC de 9 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=43&version=13993">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146450/C-200-Coup%C3%A9-FL-Nuevo-BM-Motor-2.0.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  Ya de serie, la Clase C Coupé ofrece nuevos faros LED de alto rendimiento con una moderna tecnología de iluminación y un alto valor de reconocimiento.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=43&version=13993">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  El interior de diseño, clásico de un Coupé, se caracteriza por la fluidez de sus formas, así como por la mejora de su aspecto, trasladándose a la era digital con la reestilización del modelo.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=43&version=13993">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>

					<li>Pintura Metálica</li>
					<li>Tapiz Símil cuero negro</li>
					<li>Función de parada automática del motor ECO Start/Stop</li>
					<li>Función de arranque Keyless-GO (permite encender el vehículo sin usar la llave)</li>
					<li>Radio audio 20<br>
					Visualizador de medios de 10,25″<br>
					Reproducción USB<br>
					Nuevo Sistema de sonido Soundsystem de 9 altavoces y 225 vatios de potencia<br>
					Interfaz Bluetooth con Smartphone / Conexión integrada para Ipod o Iphone<br>
					Panel táctil<br>
					Sistema Apple Carplay y Android Auto integrado<br>
					PARKTRONIC (ayuda activa para estacionar que dirige automaticamente el vehículo accionando de forma autónoma el volante y los frenos)</li>
					<li>Cámara de marcha atrás con líneas de guía dinámicas</li>
					<li>Apoyo lumbar con 4 vías de ajuste</li>
					<li>Extensor cinturón de seguridad</li>
					<li>Volante deportivo multifunción en cuero con grabado profundo</li>
					<li>Molduras de aluminio claro con rectificado longitudinal</li>
					<li>9G- Tronic PLUS (cambio automático de 9 velocidades)</li>
					<li>Dynamic Select (Permite elegir diferentes estilos de conducción: individual – Sport – Sport+ – Confort – Economy)</li>
					<li>THERMATIC (climatización automática con 2 zonas climáticas)</li>
					<li>Paquete de alumbrado interior (incluye portagafas y funciones de iluminación en el habitáculo)</li>
					<li>Kit portaobjetos (incluye red de carga y caja plegable bajo maletera)</li>
					<li>Portavasos doble en consola central</li>
					<li>Faros LED High Performance (Luces LED de color similar a la luz natural)</li>
					<li>Limpiaparabrisas con sensor de lluvia</li>
					<li>TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad )</li>
					<li>Tren de rodaje AGILITY CONTROL con sistema de amortiguación selectivo</li>
					<li>Attention Assist (sistema de alerta de cansancio)</li>
					<li>AMG Interior<br>
					Alfombrilla AMG<br>
					Respaldos traseros abatibles</li>
					<li>AMG Exterior<br>
					Parrilla del radiador de efecto diamante<br>
					Kit estético AMG</li>
				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=43&version=13993">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

