

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>Mercedes-AMG C 43 4MATIC Coupé</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: V6 de 3.0 litros Biturbo</span>
              </li>
              <li>
                <span>Potencia: 390 CV</span>
              </li>
              <li>
                <span>Torque: 520 Nm a 2.500 – 5.000 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 4,7 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 9,8* Km/L (valor referencial Ministerio de Energía)</span>
              </li>
              <li>
                <span>Transmisión Automática 9G-TRONIC de 9 velocidades</span>
              </li>
			  <li>
                <span>Tracción integral permanente 4MATIC</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=43&version=21562">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146444/Mercedes-AMG-C-43-4Matic-Coup%C3%A9-Facelift.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="/documents/55562/67964/1.jpg" alt="First slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/2.jpg" alt="Second slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/3.jpg" alt="Third slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/4.jpg" alt="Third slide">
			  </div>
			</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  El expresivo estilo de AMG otorga una nota de exclusividad deportiva al exterior de la Clase C. Con él, usted muestra su interés por el diseño potente. Los detalles específicos se reconocen a primera vista y aportan al exterior un nota de exclusividad
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=43&version=21562">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  La reestilización subraya el diseño interior de la Clase C con elementos estilísticos típicos de AMG que aumentan visible y sensiblemente la deportividad y exclusividad.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=43&version=21562">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>
              
                  <li>
                    <span>Pintura Metálica</span>
                  </li>
                  <li>
                    <span>Tapiz Simíl de Cuero / Microfibra Dinámica negro</span>
                  </li>
                  <li>
                    <span>Techo corredizo panorámico</span>
                  </li>	
				  <li>
                    <span>Visualizador del cuadro de instrumentos completamente digital</span>
                  </li>	
				  <li>
                    <span>Sistema de sonido surround Burmester</span>
                  </li>	
				  <li>
                    <span>Kit de memoria (asiento donductor, columna de dirección y los retrovisores)</span>
                  </li>	
				  <li>
                    <span>Asientos calefactados para conductor y acompañante</span>
                  </li>	
				  <li>
                    <span>Extensor cinturón de seguridad</span>
                  </li>	
				  <li>
                    <span>Apoyo lumbar con 4 vías de ajuste</span>
                  </li>

					<li>
						Linea AMG Interior<br>
						Molduras de madera de roble antracita de poros abiertos<br>
						Paquete de alumbrado interior (Portagafas e iluminación en el habitáculo)<br>
						Tablero de instrumentos y línea de cintura en las puertas en símil de cuero<br>
						Respaldos traseros abatibles<br>
						Alfombrillas AMG con distintivo «AMG»
					</li>
					<li>
						Linea AMG exterior<br>
						Kit estético AMG<br>
						Tren de rodaje deportivo AMG RIDE CONTROL<br>
						Perfil aerodinámico AMG<br>
						Llantas de aleación AMG de 19″ y diseño de 5 radios dobles
					</li>
					<li>
						Dynamic Select (Permite elegir diferentes estilos de conducción: individual – Sport – Sport+ – Confort – Eco)
					</li>
					<li>
						Equipo de escape deportivo (El sonido se adapta al programa de conducción seleccionado con el DYNAMIC SELECT)
					</li>
					<li>
						Paquete de retrovisores<br>
						Retrovisores exteriores plegables y extensibles por vía eléctrica<br>
						Sistema antideslumbrante automático en retrovisores interior y exterior
					</li>
					<li>
						Paquete de protección antirrobo con alarma volumétrica<br>
						PARKTRONIC (Ayuda activa para estacionar que dirige automaticamente el vehículo accionando de forma autónoma el volante y los frenos)
					</li>
					
				  <li>
                    <span>Cámara de marcha atrás con líneas de guía dinámicas</span>
                  </li>	
				  <li>
                    <span>TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad )</span>
                  </li>	
				  <li>
                    <span>THERMATIC (climatización automática con 2 zonas climáticas)</span>
                  </li>	
				  <li>
                    <span>MULTIBEAM LED (luces LED con adaptación automática)</span>
                  </li>	
				  <li>
                    <span>Luces de carretera automáticas Plus (evitan deslumbrar a otros conductores)</span>
                  </li>	
				  <li>
                    <span>Limpiaparabrisas con sensor de lluvia</span>
                  </li>	
				  <li>
                     <span>Portavasos doble en la consola central</span>
                  </li>	
				  <li>
                    <span>Depósito de combustible de 66 litros</span>
                  </li>	
               <br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=43&version=21562">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

