

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>GLA 200	</h3>
          <h5>Precio mes: -</h5>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 1,6 litros ; 4 cilindros turbo.</span>
              </li>
              <li>
                <span>Potencia: 156 CV</span>
              </li>
              <li>
                <span>Torque: 250 Nm
                  </span>
              </li>
              <li>
                <span>Aceleración: 8,9 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 215 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 12.6 Km/L (valor referencial)</span>
              </li>
              <li>
                <span>Transmisión Automática doble embrague 7G-DCT de 7 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=49&version=14054">
                <span>Cotizar</span>
              </a>
            </button>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
			
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146420/Ficha-Tecnica-GLA-4P-08.04.2020+%281%29.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="/documents/55562/67964/1.jpg" alt="First slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/2.jpg" alt="Second slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/3.jpg" alt="Third slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/4.jpg" alt="Third slide">
			  </div>
			</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
		
	  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <img src="./img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <p>La mejor alternativa al financiamiento tradicional. Lo invitamos a cotizar con Kaufmann Servicios Financieros</p>
				  <div class="d-flex flex-wrap w-100">
					<div class="col-sm-12 col-md-4 col-lg-4 modal-content-input">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Rut" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Teléfono" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese Ciudad" class="input__bottom">
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4 modal-content-input">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Nombre" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Pie" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Comuna" class="input__bottom">
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4 modal-content-input">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su e-mail" class="input__bottom">
					  <div class="modelTruck">
						<p>Modelo:</p>
						<p>GLA 200</p>
					  </div>
					  <div>
						<button class="btn btn-main">
						  <a href="">
							<span>Enviar</span>
						  </a>
						</button>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  Consta de equipos seleccionados como llantas de aleación 18″ de 5 radio dobles, un equipo de escape de doble flujo con embellecedores rectangulares de acero inoxidable.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=49&version=14054">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img src="/documents/55562/67964/1.jpg" alt="First slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/2.jpg" alt="Second slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/3.jpg" alt="Third slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/4.jpg" alt="Third slide">
					  </div>
					</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img src="/documents/55562/67964/1.jpg" alt="First slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/2.jpg" alt="Second slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/3.jpg" alt="Third slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/4.jpg" alt="Third slide">
					  </div>
					</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  Habitáculo moderno, funcional y deportivo, asientos con reposacabezas integrados y un volante multifunción en cuero perforado.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=49&version=14054">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>
				<h3>Interior</h3>

                  <li>
                    <span>Función de parada y arranque</span>
                  </li>
                  <li>
                    <span>ECO Parada automática del motor con el vehículo detenido</span>
                  </li>
                  <li>
                    <span>Dirección directa: con servodirección variable en función de la velocidad</span>
                  </li>	
				  <li>
                    <span>Collision Prevention Assyst: dispositivo de advertencia de colisión</span>
                  </li>	
				  <li>
                    <span>Windowbags: durante colisión cubre las ventanillas laterales</span>
                  </li>	
				  <li>
                    <span>Airbag de rodillas</span>
                  </li>	
				  <li>
                    <span>Avisador de pérdida de presión en los neumáticos</span>
                  </li>	
				  <li>
                    <span>Attention Assyst: puede detectar síntomas típicos de fatiga</span>
                  </li>	
				  <li>
                    <span>Thermatic: equipo de aire acondicionado</span>
                  </li>	
				  <li>
                    <span>Radio Audio 20 para 1 CD, con conexión para dispositivos Bluetooth</span>
                  </li>	
				  <li>
                    <span>Apoyo lumbar de 4 vías de ajuste</span>
                  </li>	
				  <li>
                    <span>Volante multifunción de 3 radios, con 12 teclas de función</span>
                  </li>	
				  <li>
                    <span>Alfombrillas de velours en el color del equipamiento</span>
                  </li>	
				  <li>
                    <span>Cámara marcha atrás</span>
                  </li>	
				  <li>
                    <span>Cambio automático de doble embrague con 7 velocidades, 7G-DCT l</span>
                  </li>	
				  <li>
                    <span>TEMPOMAT con limitación variable de la velocidad</span>
                  </li>	
				  <li>
                    <span>Ayuda activa para aparcar incluyendo PARKTRONIC</span>
                  </li>	
					<li>Paquete alumbrado y visibilidad
						<ul>
							<li>Parasoles iluminados</li>
							<li>Listones de umbral iluminados</li>
							<li>Parabrisas con sensor de lluvia</li>
						</ul>
					</li>
				<h3>Equipamiento Exterior</h3>

                  <li>
                    <span>Pintura Metalizada</span>
                  </li>
                  <li>
                    <span>Suspensión confort</span>
                  </li>
                  <li>
                    <span>Faros Bixenon</span>
                  </li>	
				  <li>
                    <span>Equipos lavafaros</span>
                  </li>	
				  <li>
                    <span>Neumáticos Run Flat: con propiedades de rodaje de emergencia</span>
                  </li>	
				  <li>
                    <span>Luz adaptativa parpadeante para frenadas de emergencia</span>
                  </li>	
				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=49&version=14054">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

