

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>GLA 200 Sport	</h3>
          <h5>Precio mes: $25.490.000.-</h5>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 1.6 litros, 4 cilindros turbo</span>
              </li>
              <li>
                <span>Potencia: 156 CV</span>
              </li>
              <li>
                <span>Torque: 250 Nm a 1.250 – 4.000 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 8,4 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 215 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 13,3* Km/L (valor referencial Ministerio de Energía)</span>
              </li>
              <li>
                <span>Transmisión Automática doble embrague 7G-DCT de 7 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=49&version=21041">
                <span>Cotizar</span>
              </a>
            </button>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
			
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146417/Ficha-Tecnica-GLA-4P-08.04.2020.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/documents/55562/67964/1.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img src="/documents/55562/67964/2.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img src="/documents/55562/67964/3.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img src="/documents/55562/67964/4.jpg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
		
		<!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <img src="./img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				  <p>La mejor alternativa al financiamiento tradicional. Lo invitamos a cotizar con Kaufmann Servicios Financieros</p>
				  <div class="d-flex flex-wrap w-100">
					<div class="col-sm-12 col-md-4 col-lg-4 modal-content-input">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Rut" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Teléfono" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese Ciudad" class="input__bottom">
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4 modal-content-input">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Nombre" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Pie" class="input__bottom">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su Comuna" class="input__bottom">
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4 modal-content-input">
					  <input type="text" name="Rut" id="" placeholder="Ingrese su e-mail" class="input__bottom">
					  <div class="modelTruck">
						<p>Modelo:</p>
						<p>GLA 200 Sport</p>
					  </div>
					  <div>
						<button class="btn btn-main">
						  <a href="">
							<span>Enviar</span>
						  </a>
						</button>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  El diseño frontal con la voluminosa parrilla del radiador y atributos ópticos de todoterreno confiere al GLA una expresión robusta de dominio.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=49&version=21041">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img src="/documents/55562/67964/1.jpg" alt="First slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/2.jpg" alt="Second slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/3.jpg" alt="Third slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/4.jpg" alt="Third slide">
					  </div>
					</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img src="/documents/55562/67964/1.jpg" alt="First slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/2.jpg" alt="Second slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/3.jpg" alt="Third slide">
					  </div>
					  <div class="carousel-item">
						<img src="/documents/55562/67964/4.jpg" alt="Third slide">
					  </div>
					</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  El interior del GLA está caracterizado por superficies estructuradas de trazado horizontal. La cuidadosa elección de materiales y el acabado con especial cuidado de los detalles generan una impresión general armoniosa y de alta calidad.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=49&version=21041">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>
                  <li>
                    <span>Pintura Metálica</span>
                  </li>
                  <li>
                    <span>Símil de cuero ARTICO con Tela Maringa Negra</span>
                  </li>
                  <li>
                    <span>Función de parada y arranque Eco</span>
                  </li>	
				  <li>
                    <span>DYNAMIC SELECT</span>
                  </li>	
				  <li>
                    <span>Paquete Urban</span>
                  </li>	
				  <li>
                    <span>Volante multifunción en cuero</span>
                  </li>	
				  <li>
                    <span>Barras longitudinales en el techo de aluminio</span>
                  </li>	
				  <li>
                    <span>Molduras de aluminio con rectificado trapezoidal</span>
                  </li>	
				  <li>
                    <span>Llantas de aleación de 45,7 cm (18″) y 5 radios</span>
                  </li>	
				  <li>
                    <span>Alfombrillas de velours</span>
                  </li>	
				  <li>
                    <span>Apoyo lumbar de 4 vías de ajuste</span>
                  </li>	
				  <li>
                    <span>Paquete de ajustes de confort en asiento</span>
                  </li>	
				  <li>
                    <span>Limpiaparabrisas con sensor de lluvia</span>
                  </li>	
				  <li>
                    <span>Parasol con espejo de cortesía iluminado</span>
                  </li>	
				  <li>
                    <span>Ayuda activa para aparcar</span>
                  </li>	
				  <li>
                    <span>Collision prevention assist Plus</span>
                  </li>	
				  <li>
                    <span>Levas de cambio en el volante</span>
                  </li>	
				  <li>
                    <span>7G-DCT</span>
                  </li>	
				  <li>
                    <span>TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad)</span>
                  </li>	
				  <li>
                    <span>Volante multifunción en cuero</span>
                  </li>	
				  <li>
                    <span>Avisador de pérdida de presión en los neumáticos</span>
                  </li>	
				  <li>
                    <span>Tren de rodaje confort para todo terreno</span>
                  </li>	
				  <li>
                    <span>Radio audio 20 CD</span>
                  </li>	
				  <li>
                    <span>Attention Assist</span>
                  </li>	
				  <li>
                    <span>Equipo de aire acondicionado</span>
                  </li>	
				  <li>
                    <span>Faros LED High Performance</span>
                  </li>	
				  <li>
                    <span>Función de arranque Keyless GO</span>
					<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=49&version=21041">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

