

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>Mercedes-AMG GT 63 S 4MATIC+	</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor/Potencia: 4.0 litros, V8 biturbo / 639CV</span>
              </li>
              <li>
                <span>Tracción: 4MATIC+ (Tracción integral)</span>
              </li>
              <li>
                <span>Torque: 900 Nm a 2.500 – 4.500 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 3,2 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 315 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 8,8* Km/L (Valor referencial Daimler)</span>
              </li>
              <li>
                <span>Transmisión de 9 marchas AMG SPEEDSHIFT MCT</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=58&version=23940">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146582/Mercedes-AMG-GT-63-S-4MATIC.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  El exterior del AMG GT Coupé de 4 puertas irradia atletismo desde cualquier ángulo visual. La aerodinámica se hace visible en el faldón delantero con calandra del radiador específica de AMG, Jet Wing y voluminosas tomas de aire.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=23940">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  El interior del AMG GT Coupé de 4 puertas impresiona con su ambiente deportivo y su gran sensación de espaciosidad. El volante AMG Performance y el puesto de conducción widescreen, además de los asientos deportivos AMG y la iluminación de ambiente, ilustran la interacción armoniosa del confort, la inteligencia y el carácter deportivo.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=23940">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>

				<li>
				Pintura Metálica
				</li>
				<li>
				Cuero Napa Negro
				</li>
				<li>
				Volante AMG Performance en microfibra DINAMICA
				</li>
				<li>
				Botones en el volante AMG<br>
				Asientos calefactados Plus para conductor y acompañante
				</li>
				<li>
				Asientos climatizados para conductor y acompañante
				</li>
				<li>
				Molduras de fibra de carbono AMG
				</li>
				<li>
				Paquete asientos multicontorno activos: Puro confort de asiento también en trayectos largos: optimiza la posición de tu asiento gracias a las amplias opciones de ajuste
				</li>
				<li>
				Parasol extensible
				</li>
				<li>
				Banco trasero de 3 plazas
				</li>
				<li>
				Radio COMAND Online con sistema de navegación integrado y pantalla central de 10,3″<br>
				Reproducción CD, USB y SD Card<br>
				Interfaz Bluetooth para Smartphone / Conexión apple carplay y Android auto
				</li>
				<li>
				Puesto de la conducción con pantallas digital de 10,3″
				</li>
				<li>
				Sistema de sonido surround Burmester®
				</li>
				<li>
				Recarga inalámbrica y conexión por Bluetooth
				</li>
				<li>
				Paquete de retrovisores<br>
				Ret. Interior y exterior izquierdo con sistema antideslumbrante automático<br>
				Retrovisores exteriores abatibles eléctricamente
				</li>
				<li>
				Sistema Keyless GO<br>
				Permite abrir, arrancar y bloquear el vehículo, sin usar la llave<br>
				Sensor de apertura de maletero y cierre mediante botón EASY PACK
				</li>
				<li>
				Paquete de aparcamiento con cámara 360°<br>
				Ayuda activa para aparcar con Parktronic<br>
				Cámara de 360°
				</li>
				<li>
				Paquete AMG Night Exterior<br>
				Cristales calorífugos tintados oscuros
				</li>
				<li>
				Paquete AMG DYNAMIC PLUS<br>
				Pinzas de freno AMG pintadas en amarillo<br>
				Suspensión activa dinámica del motor<br>
				AMG RIDE CONTROL +<br>
				Modo conducción RACE<br>
				Diferencial de bloqueo del eje trasero electrónico y mayor disco de freno con un
				</li>
				<li>
				AMG Dynamic Select: Confort, Sport, Sport+, Calzada resbaladiza (nuevo)
				</li>
				<li>
				Sistema de escape AMG Performance
				</li>
				<li>
				Paquete Aeródinamico AMG<br>
				Aleta trasera estática
				</li>
				<li>
				Control de confort ENERGIZING : Combinación inteligente de funciones de confort<br>
				Iluminación ambiente
				</li>
				<li>
				Kit portaobjetos<br>
				Portavasos doble
				</li>
				<li>
				Techo corredizo eléctrico de cristal
				</li>
				<li>
				MULTIBEAM LED: Intelligent Light System (luces LED con adaptación automática)
				</li>
				<li>
				Cllimatización automática THERMOTRONIC
				</li>
				<li>
				Depósito de combusitible 80 lts
				</li>
				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=58&version=23940">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

