

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>E 300 Cabriolet</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 2.0 litros, 4 cilindros turbo intercooler</span>
              </li>
              <li>
                <span>Potencia: 245 CV</span>
              </li>
              <li>
                <span>Torque: 370 Nm a 1.300 – 4.000 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 6,6 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 12,6* Km/L (valor referencial Daimler)</span>
              </li>
              <li>
                <span>Transmisión Automática 9G-TRONIC de 9 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=45&version=19365">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146507/E-300-Cabrio-464-531-Prod-Enero-2018.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  El impresionante diseño lateral deportivo muestra cómo se ha perfeccionado el concepto de diseño de pureza sensual de Mercedes-Benz.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=45&version=19365">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  La impresión de habitabilidad es extraordinariamente generosa para un cabrio. Por ese motivo, resulta también una opción perfecta como elegante modelo para viajes con 4 plazas, siguiendo la tradición de los exclusivos modelos Gran Turismo
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=45&version=19365">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>

					<li>
					Pintura Metálica
					</li>
					<li>
					Tapiz 601 Símil de cuero / Microfibra DINáMICA Negro
					</li>
					<li>
					Telas techo interior negro
					</li>
					<li>
					Embellecedor de escapes cromados
					</li>
					<li>
					DYNAMIC SELECT para seleccionar los 5 programas de conducción
					</li>
					<li>
					Sonoridad deportiva del motor
					</li>
					<li>
					Volante deportivo multifunción forrado en napa
					</li>
					<li>
					KEYLESS GO ( abrir, arrancar y bloquear sin llave)
					</li>
					<li>
					AMG Line Interior<br>
					Revestimiento de símil de cuero ártico<br>
					Alfombrillas de velours<br>
					Iluminación ambiente<br>
					Molduras de madera de fresno negro de poros abiertos
					</li>
					<li>
					AMG Line Exterior<br>
					Llantas de aleación AMG de 48,3 cm (19″) y 5 radios dobles<br>
					Tren de rodaje AGILITY CONTROL con sistema de amortiguación<br>
					Kit estético AMG<br>
					Ensanchamiento del pasarruedas para llantas AMG
					</li>
					<li>
					Paquete retrovisores<br>
					Retrovisor interior y exterior izquierdo antideslumbrante abatible automático<br>
					Retrovisores exteriores abatibles eléctricamente
					</li>
					<li>
					Paquete de confort para Cabrio<br>
					Aircap (paravientos automático para reducir las corrientes de aire)<br>
					Calefacción para el espacio sobre las cabezas<br>
					Separación automática del maletero con accionamiento eléctrico
					</li>
					<li>
					Apoyo lumbar con 4 vías de ajuste
					</li>
					<li>
					Radio Audio 20 con pantalla completamente digital de 10,3″<br>
					Integración para smartphone ( Apple CarPlay y Android Auto)<br>
					Puesto de conducción completamente digital con pantalla de 10,3″<br>
					Panel táctil con controlador
					</li>
					<li>
					Kit de cables para Media Interface
					</li>
					<li>
					Piloto para estacionamiento con cámara marcha atrás
					</li>
					<li>
					Asiento del conductor de ajuste eléctrico con función de memoria
					</li>
					<li>
					Asiento del acompañante de ajuste eléctrico con función de memoria
					</li>
					<li>
					Reloj analógico
					</li>
					<li>
					Respaldos traseros abatibles
					</li>
					<li>
					Kit portaobjetos con portavasos doble
					</li>
					<li>
					Tempomat con limitador variable de velocidad
					</li>
					<li>
					Climatización automática THERMATIC
					</li>
					<li>
					Faros LED High Performance
					</li>
					<li>
					Capota de lona
					</li>
					<li>
					Asientos calefactados para conductor y acompañante
					</li>
					<li>
					Depósito de combustible 66 L
					</li>

				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=45&version=19365">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

