

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>GLS 350 d</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: V6 de 3,0 litros Turbo Diésel</span>
              </li>
              <li>
                <span>Potencia: 258 CV</span>
              </li>
              <li>
                <span>Torque: 620 Nm a 1.400 – 2.400 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 7,8 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 222 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 11,9* Km/L (valor referencial Ministerio de Energía)</span>
              </li>
              <li>
                <span>Transmisión Automática 9G-TRONIC de 9 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=52&version=14062">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146531/Mercedes-Benz-GLS-350-d-4Matic.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  La reestilización acentúa aún más la elegancia y el valor del vehículo.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=52&version=14062">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
					Con un diseño más moderno que destaca por su nuevo concepto cromático y su alta calidad, creando una impresión general de lujo en el habitáculo.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=52&version=14062">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h1>Equipamiento</h1>
				<h3>Seguridad:</h3>

					<li>Collision Prevention Assist Plus (sistema de advertencia y asistencia que contribuye a reducir el peligro de una colisión por alcance)</li>
					<li>Control de ángulo muerto (si detecta la presencia de un vehículo en el ángulo muerto, brilla un triángulo rojo en el retrovisor exterior. Si el conductor ignora esta indicación y acciona el intermitente, se emite adicionalmente una advertencia acústica)</li>
					<li>Detector de cambio de carril (detecta el peligro de salir involuntariamente del carril entre los 60 y 200 km/h y advierte al conductor mediante vibraciones en el volante)</li>
					<li>Airbags frontales y laterales para conductor y acompañante</li>
					<li>Windowbags en todas las ventanillas (protección para la cabeza durante un choque lateral)</li>
					<li>Airbags de rodillas para el conductor</li>
					<li>Frenos ABS con servofreno de emergencia BAS y control de tracción ASR</li>
					<li>Sistema electrónico de estabilidad ESP Sistema de frenos ADAPTIVE BRAKE con función HOLD, ayuda al arranque en pendientes, llenado anticipado y frenos secos al conducir en días de lluvia l Freno de estacionamiento con mando eléctrico</li>
					<li>Luz de freno adaptativa de emergencia</li>
					<li>Protección inferior del vehículo</li>
					<li>Extintor montado bajo el asiento del conductor</li>
					<li>Sistema de advertencia por desgaste de las pastillas de freno</li>
					<li>Sistema de alerta por cansancio “ATTENTION ASSIST”</li>
					<li>Alzavidrios eléctricos con función antiapriete y accionamiento de confort.</li>
					<li>Función de parada automática del motor ECO Start/Stop</li>
					<li>Bloqueo de arranque electrónico (impide encendido del vehículo sin su llave)</li>
					<li>Sistema de advertencia por perdida de presión en los neumáticos</li>
					<li>Herramienta para cambio de rueda l Rueda de emergencia</li>

				<h3>Interior y exterior:</h3>

					<li>Pintura Metálica</li>
					<li>Tapiz Símil de Cuero</li>
					<li>Techo corredizo panorámico</li>
					<li>9G-TRONIC (cambio automático de 9 velocidades) Dynamic Select (Permite elegir diferentes estilos de conducción: individual – Sport – Confort – Calzada resbaladiza – Offroad)</li>
					<li>Función de parada automática del motor ECO Start/Stop</li>
					<li>Keyless GO (permite abrir, arrancar y bloquear el vehículo, sin usar la llave)</li>
					<li>Radio audio 20 CD con Garmin MAP PILOT (GPS) y display de 8″
					<ul>
					<li>Reproducción CD, USB y SD Card</li>
					<li>Interfaz Bluetooth con Smartphone / Conexión integrada para Ipod o Iphone</li>
					</ul>
					</li>
					<li>AIRMATIC (suspensión neumática incluyendo sistema de amortiguación adaptativa ADS PLUS)</li>
					<li>PARKTRONIC (ayuda activa para estacionar que dirige automáticamente el vehículo accionando de forma autónoma el volante y los frenos)</li>
					<li>Cámara de 360° (sistema de asistencia a la conducción con 4 cámaras interconectadas para supervisar los 4 lados del vehículo)</li>
					<li>Asientos delanteros con ajuste eléctrico</li>
					<li>Apoyo lumbar de 4 vías de ajuste l 3ª fila de asientos abatible con accionamiento eléctrico</li>
					<li>Paquete de retrovisores
					<ul>
					<li>Retrovisores exteriores plegables y extensibles por vía eléctrica</li>
					<li>Sistema antideslumbrante automático en retrovisores interior y exterior Iluminación del entorno del vehículo con proyección del logotipo de la marca</li>
					</ul>
					</li>
					<li>Alfombrillas interiores velours</li>
					<li>Iluminación de ambiente</li>
					<li>THERMATIC (climatización automática con 2 zonas independientes)</li>
					<li>Asientos calefaccionados para conductor y acompañante</li>
					<li>Cristales calorífugos tintados oscuros</li>
					<li>Portón trasero EASY-PACK (permite apertura y cierre eléctrico)</li>
					<li>Cubierta de compartimiento de carga EASY-PACK</li>
					<li>Enganche para remolque con ESP (sistema de estabilización de remolque)</li>
					<li>LED Intelligent Light System (luces LED con adaptación automática)</li>
					<li>Luces de carretera automáticas Plus (evitan deslumbrar a otros conductores)</li>
					<li>TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad )</li>
					<li>Collision Prevention Assist Plus (sistema de advertencia y asistencia que contribuye a reducir el peligro de una colisión por alcance)</li>
					<li>Airbags frontales y laterales para conductor y acompañante</li>
					<li>Windowbags en todas las ventanillas (protección lateral)</li>
					<li>Airbags de rodillas para el conductor</li>
					<li>Attention Assist (sistema de alerta de cansancio)</li>


				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=52&version=14062">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

