

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>SLC 300</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor/Potencia: 2.0 Lts 4 cilindros turbo intercooler</span>
              </li>
              <li>
                <span>Potencia: 245 CV</span>
              </li>
              <li>
                <span>Torque: 370 Nm a 1.300 – 4.000 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 5,8 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 14,5* Km/L (valor referencial Ministerio de Energía)</span>
              </li>
              <li>
                <span>Transmisión Automática 9G-TRONIC de 9 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/documents/20124/60938/1.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img src="/documents/20124/60938/2.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img src="/documents/20124/60938/3.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img src="/documents/20124/60938/4.jpg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



	  <div class="container my-5">
		<div class="row">
		  <div class="data_equipament">
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			  <li class="nav-item">
				<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
			  </li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
			  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<div class="data_equipament-design">
				  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
					<h3>Exterior</h3>
					<p>
					  El roadster de culto subraya su presencia deportiva, La zaga se distingue por sus vigorosas proporciones, con guardabarros de forma atlética que señaliza las propiedades dinámicas del SLC.
					</p>
					<button class="btn btn-main col-4">
					  <a href="">
						<span>Cotizar</span>
					  </a>
					</button>
				  </div>
				  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
					<div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
					  <div class="carousel-inner">
						<div class="carousel-item active">
						  <img src="/documents/20124/63919/1.jpg" alt="First slide">
						</div>
						<div class="carousel-item">
						  <img src="/documents/20124/63919/2.jpg" alt="Second slide">
						</div>
						<div class="carousel-item">
						  <img src="/documents/20124/63919/3.jpg" alt="Third slide">
						</div>
						<div class="carousel-item">
						  <img src="/documents/20124/63919/4.jpg" alt="Third slide">
						</div>
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					  </a>
					</div>
				  </div>
				</div>
				<div class="data_equipament-design my-2">
				  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
					<div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
					  <div class="carousel-inner">
						<div class="carousel-item active">
						  <img src="/documents/20124/60941/1.jpg" alt="First slide">
						</div>
						<div class="carousel-item">
						  <img src="/documents/20124/60941/2.jpg" alt="Second slide">
						</div>
						<div class="carousel-item">
						  <img src="/documents/20124/60941/3.jpg" alt="Third slide">
						</div>
						<div class="carousel-item">
						  <img src="/documents/20124/60941/4.jpg" alt="Third slide">
						</div>
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					  </a>
					</div>
				  </div>
				  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<h3>Interior</h3>
					<p>
					  El roadster de culto subraya su presencia deportiva, La zaga se distingue por sus vigorosas proporciones, con guardabarros de forma atlética que señaliza las propiedades dinámicas del SLC.
					</p>
					<button class="btn btn-main col-4">
					  <a href="">
						<span>Cotizar</span>
					  </a>
					</button>
				  </div>
				</div>
			  </div>
			  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
				<div class="data_equipament-equi">
				  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
					<h3>Equipamiento</h3>
					<ul>
						<li>Pintura Metálica</li>
						<li>Tapiz cuero Napa / Microfibra Dinámica negro</li>
						<li>Función de arranque Keyless-GO (permite encender el vehículo sin usar la llave)</li>
						<li>Paquete de alumbrado interior</li>
						<li>Radio audio 20 CD con Garmin MAP PILOT (GPS)<br>
						Reproducción CD, USB y SD Card<br>
						Interfaz Bluetooth con Smartphone / Conexión integrada para Ipod o Iphone</li>
						<li>Equipo escape deportivo</li>
						<li>PARKTRONIC (ayuda activa para estacionar que dirige automaticamente el vehículo accionando de forma autónoma el volante y los frenos)</li>
						<li>Cámara de retroceso</li>
						<li>Linea AMG Interior<br>
						Molduras de aluminio oscuro con rectificado en efecto fibra de carbono<br>
						Alfombrillas AMG con distintivo «AMG»</li>
						<li>AMG Line<br>
						Esteras AMG<br>
						Tren de rodaje deportivo altura rebajada<br>
						Kit estético AMG<br>
						Llantas de AMG 45,7 cm 18″ y 5 radios</li>
						<li>Dynamic Select (Permite elegir diferentes estilos de conducción: individual – Sport – Sport+ – Confort – Economy)</li>
						<li>Equipo de aire acondicionado</li>
						<li>Avisador de pérdida de presión en los neumáticos</li>
						<li>Techo Retractil</li>
						<li>Telemando infrarrojos p. techo variable</li>
						<li>Paquete de retrovisores<br>
						Retrovisores exteriores plegables y extensibles por vía eléctrica<br>
						Sistema antideslumbrante automático en retrovisores interior y exterior<br>
						Iluminación del entorno del vehículo con proyección del logotipo de la marca</li>
						<li>Volante deportivo multifunción forrado en Napa</li>
						<li>Levas de cambio en el volante galvanizadas</li>
						<li>Kit portaobjetos</li>
						<li>Limpiaparabrisas con sensor de lluvia</li>
						<li>Collision Prevention Assist Plus (sistema de advertencia y asistencia que contribuye a reducir el peligro de una colisión por alcance)</li>
						<li>TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad )</li>
						<li>LED Intelligent Light System (luces LED con adaptación automática)</li>
						<li>Depósito de combustible de 70 litros</li>
					</ul>
					<button class="btn btn-main col-4">
					  <a href="">
						<span>Cotizar</span>
					  </a>
					</button>
				  </div>
				  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
					<img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
					<img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
					<img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
					<img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
				  </div>
				</div>
			  </div>
			</div>
			<div class="data_smalltext">
			  <p>*Imágenes referenciales</p>
			  <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
			</div>
		  </div>
		</div>
	  </div>

