

  <div class="model_banner">
    <img src="/o/com.kaufmann.kituigenerico/img/automoviles/banner-2.jpeg" alt="">
  </div>

  <div class="container data_model">
    <div class="row">
      <div class="data_model-content">
        <div class="data_model-info">
          <h3>E 350</h3>
          <div class="data_model-list">
            <ul>
              <li>
                <span>Motor: 2.0 litros, 4 cilindros turbo intercooler</span>
              </li>
              <li>
                <span>Potencia: 299 CV</span>
              </li>
              <li>
                <span>Torque: 400 Nm a 3.000 – 4.000 rpm
                  </span>
              </li>
              <li>
                <span>Aceleración: 5,9 seg de 0-100 Km/H.</span>
              </li>
              <li>
                <span>Velocidad Máxima: 250 Km/Hrs</span>
              </li>
              <li>
                <span>Consumo mixto: 14,4* Km/L (valor referencial Daimler)</span>
              </li>
              <li>
                <span>Transmisión Automática 9G-TRONIC de 9 velocidades</span>
              </li>
            </ul>
          </div>
          <div class="data_info-btn">
            <button class="btn btn-main">
              <a href="/cotizador?categoria=automoviles&modelo=45&version=21945">
                <span>Cotizar</span>
              </a>
            </button>
            <button class="btn btn-default">
              <a href="">
                <img src="/o/com.kaufmann.kituigenerico/img/footer/footer-logo-ksf.png" alt="Kaufmann Servicios Financieros">
              </a>
            </button>
          </div>
          <div>
            <button class="btn btn-line">
              <a href="/documents/55562/146486/Mercedes-Benz-E-350-Full-Pantallas.pdf">
                <i class="far fa-file-pdf"></i>
                <span>Descargar ficha</span>
              </a>
            </button>
          </div>
        </div>
        <div class="data_model-images">
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="/documents/55562/67964/1.jpg" alt="First slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/2.jpg" alt="Second slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/3.jpg" alt="Third slide">
			  </div>
			  <div class="carousel-item">
				<img src="/documents/55562/67964/4.jpg" alt="Third slide">
			  </div>
			</div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="data_model-features">
          <hr>
          <div class="data_features">
            <h3>Características</h3>
            <div class="data_features-content" style="display:none">
              <div class="data_features-list">
                <ul>	
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                  <li>
                    <span>MOTOR: OM 501</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container my-5">
    <div class="row">
      <div class="data_equipament">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Diseño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Equipamiento</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="data_equipament-design">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-text">
                <h3>Exterior</h3>
                <p>
                  E 350 con su diseño frontal es potente y realza el estatus. Las líneas de acabado marcan sin lugar a dudas la diferencia en el diseño exterior de la Clase E.
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=45&version=21945">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="data_equipament-design my-2">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 design-carousel">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<img src="/documents/55562/67964/1.jpg" alt="First slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/2.jpg" alt="Second slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/3.jpg" alt="Third slide">
				  </div>
				  <div class="carousel-item">
					<img src="/documents/55562/67964/4.jpg" alt="Third slide">
				  </div>
				</div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3>Interior</h3>
                <p>
                  Los elementos y líneas horizontales proporcionan un ambiente diáfano y tranquilo y una amplia percepción del espacio. El diseño de la consola central con elemento de adorno de gran superficie sobre la consola se distingue por su aspecto de alta calidad
                </p>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=45&version=21945">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="data_equipament-equi">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-list">
                <h3>Equipamiento</h3>

					<li>
					Pintura Metálica
					</li>
					<li>
					Tapiz de símil de cuero ARTICO con microfibra DINAMICA (Negro)
					</li>
					<li>
					Función de parada automática del motor ECO Start/Stop
					</li>
					<li>
					Cuadro de intrumentos completamente digital con pantalla de 10,3″
					</li>
					<li>
					Radio Audio20  con display de 12,3″<br>
					Integración de smartphones mediante Android Auto o Apple CarPlay<br>
					Interfaz Bluetooth con Smartphone / Conexión integrada para Ipod o Iphone<br>
					Panel táctil<br>
					Conexión USB e interfaz Bluetooth<br>
					 y ranura para tarjetas SD
					</li>
					<li>
					Techo corredizo elevable eléctrico de cristal
					</li>
					<li>
					Paquete de retrovisores<br>
					Ret. Interior y exterior izquierdo con sistema antideslumbrante automático<br>
					Retrovisores exteriores abatibles eléctricamente
					</li>
					<li>
					Kit de memorias (asientos delanteros, columna de dirección y los retrovisores)
					</li>
					<li>
					Asientos calefactados para conductor y acompañante
					</li>
					<li>
					Apoyo lumbar con 4 vías de ajuste
					</li>
					<li>
					Paquete de aparcamiento con cámara marcha átras<br>
					Piloto para estacionamiento (ayuda activa PARKTRONIC que dirige<br>
					automaticamente el vehículo manejando la dirección y los frenos.)<br>
					Cámara de marcha atrás con líneas de guía dinámicas
					</li>
					<li>
					Equipamiento AMG Interior<br>
					Volante deportivo multifunción forrado en napa<br>
					Revestimiento de símil de cuero Ártico en tablero de instrumentos<br>
					Alfombrillas con distintivo AMG<br>
					Reloj Analógico<br>
					Molduras de madera de fresno negro de poros abiertos<br>
					Iluminación de ambiente con 64 colores diferentes
					</li>
					<li>
					Equipamiento AMG Exterior<br>
					Tren de rodaje AGILITY CONTROL con sistema de amortiguación selectiva<br>
					Llantas de aleación AMG 48,3 cm (19″) y 5 radios dobles<br>
					Kit estético AMG y discos de freno perforados<br>
					Dynamic Select (Permite elegir diferentes estilos de conducción: individual – Sport –<br>
					Sport+ – Confort – Eco)
					</li>
					<li>
					Faros LED High Performance (Luces LED de color similar a la luz natural)
					</li>
					<li>
					9G-TRONIC (cambio automático de 9 velocidades)
					</li>
					<li>
					TEMPOMAT (velocidad crucero) y SPEEDTRONIC (limitador de velocidad )
					</li>
					<li>
					THERMATIC (climatización automática con 2 zonas climáticas)
					</li>
					<li>
					Kit portaobjetos<br>
					Portavasos doble en la consola central<br>
					Dos chalecos reflectantes
					</li>
					<li>
					Deposito de combustible de 66 litros
					</li>

				<br>
                <button class="btn btn-main col-4">
                  <a href="/cotizador?categoria=automoviles&modelo=45&version=21945">
                    <span>Cotizar</span>
                  </a>
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 data_equi-img">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
                <img src="/o/com.kaufmann.kituigenerico/img/automoviles/item1 (2).jpeg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="data_smalltext">
          <p>*Imágenes referenciales</p>
          <p>**El importador de la marca se reserva el derecho de realizar cambios en los modelos en cualquier momento y sin obligación de notificación previa.</p>
        </div>
      </div>
    </div>
  </div>

